In [1]:
import sys
sys.path.append('../../src/')
from fdb.datasets import FraudDatasetBenchmark
from fdb.kaggle_configs import KAGGLE_CONFIGS

In [2]:
# Notebook setups

import os
import numpy as np
import pandas as pd
from io import StringIO

from IPython.core.display import display, HTML
from IPython.display import clear_output
display(HTML("<style>.container { width:90% }</style>"))
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 200)
pd.set_option('display.max_rows', 500)

In [3]:
import shutil

if os.path.exists('tmp'):
    shutil.rmtree('tmp')

In [4]:
# UNCOMMENT IF YOU NEED TO UPLOAD DATA TO AN S3 BUCKET IN YOUR ACCOUNT

# import boto3
# BUCKET='<ADD S3 BUCKET NAME IF YOU WANT TO UPLOAD DATA TO YOUR ACCOUNT>'

# def _s3_upload(df):
#     csv_memory=StringIO()
#     df.to_csv(csv_memory, index=False)
#     content = csv_memory.getvalue()
#     s3_client.put_object(
#         Body=content,
#         Bucket=BUCKET,
#         Key=KEY,
#        ACL='bucket-owner-full-control')
# s3_client = boto3.client('s3')

In [5]:
# All options for keys
all_keys = ['fakejob', 'vehicleloan', 'malurl', 'ieeecis', 'ccfraud','fraudecom', 'twitterbot', 'ipblock']
# all_keys = ['ipblock']
# all_keys = ['twitterbot']

## Default setting

Default setting pulls data from the source in your system, modified the data and adds random values for columns that are missing, if add_random_values_if_real_na flags are True.

Defalt parameters: 
- load_pre_downloaded: False
- delete_downloaded: True
- add_random_values_if_real_na = ```
{
"EVENT_TIMESTAMP": True,
"LABEL_TIMESTAMP": True,
"ENTITY_ID": True,
"ENTITY_TYPE": True,
"ENTITY_ID": True,
"EVENT_ID": True
}
```

In [6]:
# for key, val in KAGGLE_CONFIGS.items():
for key in all_keys:
    obj = FraudDatasetBenchmark(key=key,  )
    print(obj.key)
    print('Train set: ')
    display(obj.train.head())
    print(len(obj.train.columns))
    print(obj.train.shape)
    print('Test set: ')
    display(obj.test.head())
    print(obj.test.shape)
    print('Test scores')
    display(obj.test_labels.head())
    print(obj.test_labels['EVENT_LABEL'].value_counts())
    print(obj.train['EVENT_LABEL'].value_counts(normalize=True))
    print('=========','\n')

#         KEY= f'public/official-dataset-names/{val["name"]}/train.csv'
#         _s3_upload(obj.train)


#         KEY= f'public/official-dataset-names/{val["name"]}/test.csv'
#         _s3_upload(obj.test)


#         KEY= f'public/official-dataset-names/{val["name"]}/test_labels.csv'
#         _s3_upload(obj.test_labels)

Data download location /Users/pringrov/Documents/git/fraud-dataset-benchmark/scripts/examples/tmp
fakejob
Train set:

,EVENT_ID,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,EVENT_LABEL,ENTITY_ID,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE
5736,5737,Jr. Business Analyst & Quality Analyst (entry level),"US, NJ, PISCATAWAY",NaN,NaN,NaN,"Duration: Full time / W2Location: Piscataway,NJJob description: BA/QA We are looking to hire resources for our Financial &amp; Health care clients.Candidate should have knowledge or experience in ...","What we require:-- Masters degree in Computers Science/ Information Technology/MBA.-- Candidates willing to relocates New Jersey. -- Excellent Communication skills. -- Quick learner, Ability to ad...",NaN,0,0,0,Full-time,Entry level,Master's Degree,Financial Services,Finance,0,4d7c8d5d-c1a0-4587-ab55-b9a7c8d81fdf,2023-01-18T18:09:01Z,2023-02-19T15:11:52Z,user
7106,7107,English Teacher Abroad,"US, PA, Scranton",NaN,NaN,We help teachers get safe &amp; secure jobs abroad :),"Play with kids, get paid for it Love travel? Jobs in Asia$1,500+ USD monthly ($200 Cost of living)Housing provided (Private/Furnished)Airfare ReimbursedExcellent for student loans/credit cardsGabr...",University degree required. TEFL / TESOL / CELTA or teaching experience preferred but not necessaryCanada/US passport holders only,See job description,0,1,1,Contract,NaN,Bachelor's Degree,Education Management,NaN,0,cef23a95-310f-41b0-a242-15b99cdeefd5,2022-09-12T22:02:53Z,2023-02-19T15:11:52Z,user
11978,11979,"SQL Server Database Developer Job opportunity at Barrington, IL","US, IL, Barrington",NaN,90000-100000,We are an innovative personnel-sourcing firm with solid team strength in recruiting candidates for various domains in the IT and Non-IT sectors. We offer a whole gamut of HR services such as sourc...,"Position : SQL Server Database DeveloperJob Location : Location: Barrington, ILUs work status required : H1B / EAD / Green Card / US Citizens Position Summary:The SQL Server Database Developer wil...","Position : SQL Server Database DeveloperJob Location : Location: Barrington, ILUs work status required : H1B / EAD / Green Card / US Citizens Position Summary:The SQL Server Database Developer wil...",Benefits - FullBonus Eligible - Yes,0,0,0,Full-time,Mid-Senior level,Bachelor's Degree,Information Technology and Services,Information Technology,0,40e3a444-32f6-4dd8-8790-aec5ef059500,2022-04-23T12:17:17Z,2023-02-19T15:11:52Z,user
9374,9375,Legal Analyst - 12 Month FTC,"GB, LND, London",Legal,NaN,MarketInvoice is one of the most high-profile London based fin-tech companies. The Company is Europe’s leading P2P invoice finance platform that allows SMEs to quickly and flexibly sell their invo...,DescriptionOur mission at MarketInvoice is to modernise the way by which businesses finance their working capital and fund their growth. We are seeking to bring much-needed innovation to the banki...,"Duties and ResponsibilitiesReviewing contractual terms and advising on legal risksDrafting deeds, contracts and other legal documentationResearching and advising on ad hoc legal issuesManaging col...",Competitive salaryPrivate HealthcareHalf price gym membership25 days holidayThe opportunity to progress your career at one of London's hottest FinTech startupsStart Date - as soon as possible.,0,1,0,Full-time,Associate,Professional,Financial Services,Legal,0,5e33176f-52b2-4c8f-9b6b-dd1bc389fd00,2022-09-24T02:09:18Z,2023-02-19T15:11:52Z,user
1300,1301,Part-Time Finance Assistant,"GB, LND,",NaN,NaN,NaN,"Salary:£9 - £10 per hour We are currently going through an exciting period of change and a new client base, resulting in this part-time finance position being created. You will offer a flexible, a...","Your role will be a varied, interesting and interactive role, and will likely to be approximately 15-20 hours per week (sometimes more) and will include: - Book-keeping via Sage Line 50 - Bank rec...",Salary:£9 - £10 per hour,0,0,0,Part-time,NaN,NaN,Accounting,NaN,0,4f32b11e-01c5-4cc4-b0f2-6a2fe50e9418,2022-05-25T05:44:22Z,2023-02-19T15:11:52Z,user

22
(14304, 22)
Test set:

,EVENT_ID,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,ENTITY_ID,EVENT_TIMESTAMP,ENTITY_TYPE
0,10,Customer Service Associate - Part Time,"US, AZ, Phoenix",NaN,NaN,"Novitex Enterprise Solutions, formerly Pitney Bowes Management Services, delivers innovative document and communications management solutions that help companies around the world drive business pr...","The Customer Service Associate will be based in Phoenix, AZ. The right candidate will be an integral part of our talented team, supporting our continued growth.Responsibilities:Perform various Mai...",Minimum Requirements:Minimum of 6 months customer service related experience requiredHigh school diploma or equivalent (GED) requiredValid Driver's License and good driving record requiredPreferre...,NaN,0,1,0,Part-time,Entry level,High School or equivalent,Financial Services,Customer Service,ce8c71dc-c431-457c-bb61-c6ce6f247d0f,2022-03-29T11:58:29Z,user
1,15,Account Executive - Sydney,"AU, NSW, Sydney",Sales,NaN,Adthena is the UK’s leading competitive intelligence service for Google search advertisers. Adthena is loved by major brands and digital agencies alike and provides a great opportunity to work in ...,Are you interested in a satisfying and financially rewarding role in a high growth technology company? You’ll work in a casual yet high energy environment alongside passionate people delivering th...,You’ll need to be smart and passionate and have 2 years experience selling software/Saas ideally including familiarity with PPC and marketing technologies. Excellent presentation and communication...,"In return we'll pay you well, give you some ownership in the company (stock options) and importantly provide you with excellent opportunities for advancement and professional development. Oh, and ...",0,1,0,Full-time,Associate,Bachelor's Degree,Internet,Sales,43c2fd98-a26c-470b-99d6-6bd5bd02e4f0,2022-06-21T13:20:55Z,user
2,16,VP of Sales - Vault Dragon,"SG, 01, Singapore",Sales,120000-150000,"Jungle Ventures is the leading Singapore based, entrepreneur backed, venture capital firm, that funds and actively supports start-ups in scaling across Asia Pacific. We pride ourselves on leading ...",About Vault Dragon Vault Dragon is Dropbox for your physical stuff - a startup that is changing the aesthetic face of Singapore by creating more space in households and offices. We also save count...,"Key Superpowers3-5 years of high-pressure sales experience, but if you absorb knowledge like a sponge and keep getting promoted we are flexiblePreferably mastery of both phone and field sales for ...","Basic: SGD 120,000Equity negotiable for a rock starGround floor opportunity to make a difference and do things as Dean said ""my way""Hire and train your own superhero sales team, the way you wantMa...",0,1,1,Full-time,Executive,Bachelor's Degree,Facilities Services,Sales,e5ca9003-dcd8-4afb-bfd4-5d1b7f83384d,2023-01-28T20:20:21Z,user
3,19,Visual Designer,"US, NY, New York",NaN,NaN,Kettle is an independent digital agency based in New York City and the Bay Area. We’re committed to making digital do more — for both people and brands — because we believe the digital world offer...,"Kettle is hiring a Visual Designer!Job Location: New York, NYKettle is a growing digital agency focused on delivering outstanding products, and we’ve been working hard to find equally outstanding ...",NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,1663079b-3ec3-4131-9305-84b822cb9b32,2022-03-30T16:26:06Z,user
4,21,Marketing Assistant,"US, TX, Austin",NaN,NaN,IntelliBright was created to leverage enterprise level online business practices to generate exclusive leads on behalf of our medium and small business clients across a wide variety of verticals. ...,IntelliBright is growing fast and is looking for a Marketing Assistant to join our team. Your invaluable input will help our small to midsize business clientele to achieve their greatest potential...,Job RequirementsAssist in creating client online marketing campaignsConduct research on various industry niches to determine potential partnership opportunities and make decisions on which website...,NaN,0,1,0,NaN,NaN,NaN,NaN,Marketing,102c84e5-8dc0-469d-b607-e1d6ea715863,2022-06-20T14:57:20Z,user

(3576, 20)
Test scores

   EVENT_LABEL EVENT_ID
0            0       10
1            0       15
2            0       16
3            0       19
4            0       21

0    3389
1     187
Name: EVENT_LABEL, dtype: int64
0    0.952531
1    0.047469
Name: EVENT_LABEL, dtype: float64
=========

Data download location /Users/pringrov/Documents/git/fraud-dataset-benchmark/scripts/examples/tmp
vehicleloan
Train set:

,EVENT_ID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,current_pincode_id,date_of_birth,employment_type,state_id,employee_code_id,mobileno_avl_flag,aadhar_flag,pan_flag,voterid_flag,driving_flag,passport_flag,perform_cns_score,perform_cns_score_description,pri_no_of_accts,pri_active_accts,pri_overdue_accts,pri_current_balance,pri_sanctioned_amount,pri_disbursed_amount,sec_no_of_accts,sec_active_accts,sec_overdue_accts,sec_current_balance,sec_sanctioned_amount,sec_disbursed_amount,primary_instal_amt,sec_instal_amt,new_accts_in_last_six_months,delinquent_accts_in_last_six_months,average_acct_age,credit_history_length,no_of_inquiries,EVENT_LABEL,ENTITY_ID,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE
8976,462711,33484,62644,55.23,67,22727,45,1511,16-06-1991,Salaried,6,1201,1,1,0,0,0,0,743,C-Very Low Risk,9,5,0,160423,230489,194538,0,0,0,0,0,0,9149,0,4,0,0yrs 7mon,1yrs 4mon,1,0,13eaa045-2ba0-4534-bdc6-0c185a21aed4,2022-09-30T02:56:54Z,2023-02-19T15:11:52Z,user
76007,558674,66882,81187,84.37,2,23508,86,1708,15-09-1994,Salaried,4,1060,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0,e6488d6e-4bc2-4d8e-95c1-39b429941226,2022-11-30T17:36:05Z,2023-02-19T15:11:52Z,user
77677,528251,59113,71757,84.87,48,21478,86,6322,01-01-1995,Self employed,5,1189,1,1,0,0,0,0,738,C-Very Low Risk,3,3,0,45828,58582,58582,0,0,0,0,0,0,4240,0,3,0,0yrs 2mon,0yrs 4mon,0,1,70a32364-d35c-4baf-a633-f7ffff3b6c76,2022-08-08T16:53:21Z,2023-02-19T15:11:52Z,user
209438,633950,56059,71307,81.34,146,18317,86,2989,01-01-1971,Salaried,14,2964,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,1,ca8f5822-b38e-4711-902c-a8942830f4ce,2022-06-16T07:38:49Z,2023-02-19T15:11:52Z,user
143261,476747,56759,67100,85.69,136,17783,86,3793,03-12-1975,Self employed,8,1295,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0,1fdd0520-47cf-4aef-90ee-e778b1435bc0,2023-02-04T04:40:31Z,2023-02-19T15:11:52Z,user

44
(186523, 44)
Test set:

,EVENT_ID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,current_pincode_id,date_of_birth,employment_type,state_id,employee_code_id,mobileno_avl_flag,aadhar_flag,pan_flag,voterid_flag,driving_flag,passport_flag,perform_cns_score,perform_cns_score_description,pri_no_of_accts,pri_active_accts,pri_overdue_accts,pri_current_balance,pri_sanctioned_amount,pri_disbursed_amount,sec_no_of_accts,sec_active_accts,sec_overdue_accts,sec_current_balance,sec_sanctioned_amount,sec_disbursed_amount,primary_instal_amt,sec_instal_amt,new_accts_in_last_six_months,delinquent_accts_in_last_six_months,average_acct_age,credit_history_length,no_of_inquiries,ENTITY_ID,EVENT_TIMESTAMP,ENTITY_TYPE
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-1984,Salaried,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,c55b6555-efbc-4722-8db0-b587d6c68713,2022-05-01T08:21:54Z,user
1,518279,54513,61900,89.66,67,22807,45,1501,08-09-1990,Self employed,6,1998,1,1,0,0,0,0,825,A-Very Low Risk,2,0,0,0,0,0,0,0,0,0,0,0,1347,0,0,0,1yrs 9mon,2yrs 0mon,0,eee44f45-cd9b-45aa-b353-3530f8d00cce,2022-10-21T21:32:15Z,user
2,510278,43894,61900,71.89,67,22807,45,1501,04-10-1989,Salaried,6,1998,1,1,0,0,0,0,17,Not Scored: Not Enough Info available on the customer,1,1,0,72879,74500,74500,0,0,0,0,0,0,0,0,0,0,0yrs 2mon,0yrs 2mon,0,55e27219-c8fd-49b5-862f-b256a6a7abbf,2022-10-01T16:48:11Z,user
3,510980,52603,61300,86.95,67,22807,45,1492,01-06-1968,Salaried,6,1998,1,0,0,1,0,0,818,A-Very Low Risk,1,0,0,0,0,0,0,0,0,0,0,0,2608,0,0,0,1yrs 7mon,1yrs 7mon,0,b550939a-00dd-41dc-9f42-f6468b4d28bd,2022-05-04T11:57:34Z,user
4,513916,57713,65750,89.28,67,22807,45,1440,01-06-1976,Self employed,6,1998,1,1,0,0,0,0,300,M-Very High Risk,6,4,2,29069,1067200,1067200,0,0,0,0,0,0,47100,0,1,1,2yrs 6mon,5yrs 6mon,0,6bb2d474-3d15-4bd9-a387-fe2d5f2d3131,2022-07-21T14:07:21Z,user

(46631, 42)
Test scores

   EVENT_LABEL EVENT_ID
0            0   420825
1            0   518279
2            0   510278
3            0   510980
4            0   513916

0    36323
1    10308
Name: EVENT_LABEL, dtype: int64
0    0.783925
1    0.216075
Name: EVENT_LABEL, dtype: float64
=========

Data download location /Users/pringrov/Documents/git/fraud-dataset-benchmark/scripts/examples/tmp
malurl
Train set:

,url,EVENT_LABEL,EVENT_ID,ENTITY_ID,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE,dummy_cat
167113,apolloduck.co.za/,0,518eda30-8cf5-4f2e-838f-919aec402c3e,fa75a049-4ae8-47df-ade9-0d17f92efcf0,2022-10-25T20:12:00Z,2023-02-19T15:11:52Z,user,998d2d33-ba9a-4d5d-819f-40217f05008a
387680,acronyms.thefreedictionary.com/WDOM,0,5011f70e-b266-4bb3-9059-b6ae1317c08d,6bda2684-52d9-4343-97cd-7a2a1fa3c51e,2022-07-18T21:19:13Z,2023-02-19T15:11:52Z,user,a66fa588-4cb5-4b41-8a0b-d0f15cc84bff
528900,https://nepan.org.np/Alibaba/Alibaba.com/Login.htm,1,566e8559-ec14-49e3-9058-625d52ae7408,ac3597a7-ece5-4e1c-adc4-854a5d04d4c0,2022-07-14T07:40:32Z,2023-02-19T15:11:52Z,user,4be5185a-7e92-45a7-92d3-957f3ddbeb46
251286,soundonsound.com/sos/aug06/articles/rogernichols_0806.htm?print=yes,0,c70536a8-3f10-4936-918a-08df866f8525,39fdf57f-4bf1-4fd9-b8f5-ba3960a05069,2022-10-02T14:30:36Z,2023-02-19T15:11:52Z,user,e239420a-28cb-4e91-a43e-78cbfd6ad8c2
433650,ottawakiosk.com/hill_cam.html,0,bb45d244-e78f-4b05-a709-d94573541ac3,c36c3370-62d3-4d25-a2de-f0021e60d9a5,2022-09-11T14:21:58Z,2023-02-19T15:11:52Z,user,dc0d52e3-0155-4704-b69f-8e25feb2b5ad

8
(586072, 8)
Test set:

,url,EVENT_ID,ENTITY_ID,EVENT_TIMESTAMP,ENTITY_TYPE,dummy_cat
0,http://buzzfil.net/m/show-art/ils-etaient-loin-de-s-imaginer-que-le-hibou-allait-faire-ceci-quand-ils-filmaient-2.html,5b93b3b5-3356-4ee1-9d17-6ef8e837ae99,1c9a0e5e-b0f6-4851-9cec-5ab163016bbf,2022-07-11T11:16:06Z,user,07ebec28-e2c8-4751-9b76-d28d5e21a905
1,cyndislist.com/us/pa/counties,9e733d50-5dcd-4a46-8ec9-6d59f963785e,650d6617-065f-49f8-8967-a821099da8ed,2022-03-27T15:56:46Z,user,685337f4-0ea1-460f-ab18-10a3144439d7
2,https://docs.google.com/spreadsheet/viewform?formkey=dGg2Z1lCUHlSdjllTVNRUW50TFIzSkE6MQ,07ab2a08-3f74-4c0c-bd20-d67fc2693014,1732fd83-442d-4561-9479-3984224b9f3b,2022-06-11T22:27:20Z,user,9915eb4e-ad2b-43bc-9644-4b16d1d0576d
3,articles.baltimoresun.com/1991-06-11/sports/1991162162_1_james-koehler-texas-rangers-terrell-lowery,8be901bc-3fe7-4256-9bcc-59c442eab013,29c16d72-5598-466c-937e-7d02369fcfce,2022-04-18T19:49:36Z,user,d366a939-8097-4615-ba86-a6e82320f4f9
4,kitsapsun.com/photos/2011/feb/25/177999/,7abddb63-0c3d-4ae6-a605-0eb2fb19a064,8b834066-1622-4a5a-9b81-9e42ae6facfe,2022-11-09T20:26:42Z,user,a0590d54-6411-4af0-a3b0-8ddcb96b72ce

(65119, 6)
Test scores

   EVENT_LABEL                              EVENT_ID
0            0  5b93b3b5-3356-4ee1-9d17-6ef8e837ae99
1            0  9e733d50-5dcd-4a46-8ec9-6d59f963785e
2            1  07ab2a08-3f74-4c0c-bd20-d67fc2693014
3            0  8be901bc-3fe7-4256-9bcc-59c442eab013
4            0  7abddb63-0c3d-4ae6-a605-0eb2fb19a064

0    42695
1    22424
Name: EVENT_LABEL, dtype: int64
0    0.657612
1    0.342388
Name: EVENT_LABEL, dtype: float64
=========

Data download location /Users/pringrov/Documents/git/fraud-dataset-benchmark/scripts/examples/tmp
ieeecis
Train set:

,EVENT_LABEL,transactionamt,productcd,card1,card2,card3,card5,card6,addr1,dist1,p_emaildomain,r_emaildomain,c1,c2,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,v62,v70,v76,v78,v82,v91,v127,v130,v139,v160,v165,v187,v203,v207,v209,v210,v221,v234,v257,v258,v261,v264,v266,v267,v271,v274,v277,v283,v285,v289,v291,v294,id_01,id_02,id_05,id_06,id_09,id_13,id_17,id_19,id_20,devicetype,deviceinfo,EVENT_ID,ENTITY_ID,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE
TransactionID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2987000.0,0,68.5,W,13926.0,NaN,150.0,142.0,credit,315.0,19.0,NaN,NaN,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,117.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70d607fc-0b1a-41cb-a35e-445c34532d96,13926.0_315.0_-13.0,2021-01-02T00:00:00Z,2023-02-19T15:11:52Z,user
2987001.0,0,29.0,W,2755.0,404.0,150.0,102.0,credit,325.0,NaN,gmail.com,NaN,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fd5a497e-bbaa-41eb-8113-a4c6c4832eb7,2755.0_325.0_1.0,2021-01-02T00:00:01Z,2023-02-19T15:11:52Z,user
2987002.0,0,59.0,W,4663.0,490.0,150.0,166.0,debit,330.0,287.0,outlook.com,NaN,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69b49630-ba48-4c1c-8b24-5e714e6bd157,4663.0_330.0_1.0,2021-01-02T00:01:09Z,2023-02-19T15:11:52Z,user
2987003.0,0,50.0,W,18132.0,567.0,150.0,117.0,debit,476.0,NaN,yahoo.com,NaN,2.0,5.0,0.0,0.0,4.0,0.0,0.0,1.0,0.0,1.0,0.0,25.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1758.0,354.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,10.0,0.0,1.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,e945a38b-7795-459e-b9eb-ca127180af18,18132.0_476.0_-111.0,2021-01-02T00:01:39Z,2023-02-19T15:11:52Z,user
2987004.0,0,50.0,H,4497.0,514.0,150.0,102.0,credit,420.0,NaN,gmail.com,NaN,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,169690.796875,5155.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,70787.0,NaN,NaN,NaN,NaN,166.0,542.0,144.0,mobile,SAMSUNG SM-G892A Build/NRD90M,c6fe8c7f-f257-47c7-b722-71020aab71ec,4497.0_420.0_1.0,2021-01-02T00:01:46Z,2023-02-19T15:11:52Z,user

73
(561013, 73)
Test set:

,transactionamt,productcd,card1,card2,card3,card5,card6,addr1,dist1,p_emaildomain,r_emaildomain,c1,c2,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,v62,v70,v76,v78,v82,v91,v127,v130,v139,v160,v165,v187,v203,v207,v209,v210,v221,v234,v257,v258,v261,v264,v266,v267,v271,v274,v277,v283,v285,v289,v291,v294,id_01,id_02,id_05,id_06,id_09,id_13,id_17,id_19,id_20,devicetype,deviceinfo,EVENT_ID,ENTITY_ID,EVENT_TIMESTAMP,ENTITY_TYPE
TransactionID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
3548013.0,125.000000,S,15775.0,481.0,150.0,102.0,credit,330.0,NaN,NaN,yahoo.com,5.0,3.0,3.0,0.0,0.0,0.0,8.0,0.0,3.0,5.0,0.0,61.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,109411.000000,2301.000000,0.0,2401.0,66104.0,1.0,103183.0,877.0,1961.0,465.0,0.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,26.0,1.0,2.0,926.0,-10.0,1411.0,6.0,0.0,0.0,52.0,166.0,633.0,533.0,desktop,Windows,9523fb25-0ce2-42de-9935-9f9d8f55825d,15775.0_330.0_129.0,2021-06-21T23:11:15Z,user
3548014.0,125.000000,S,15775.0,481.0,150.0,102.0,credit,330.0,NaN,NaN,yahoo.com,5.0,3.0,3.0,0.0,0.0,0.0,8.0,0.0,3.0,5.0,0.0,61.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,109536.000000,2301.000000,0.0,2401.0,66229.0,1.0,103308.0,877.0,1961.0,465.0,0.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,26.0,1.0,2.0,927.0,-10.0,693.0,6.0,0.0,0.0,52.0,166.0,633.0,533.0,desktop,Windows,17f5dc47-9859-4942-8469-6af6423b9a61,15775.0_330.0_129.0,2021-06-21T23:11:29Z,user
3548015.0,125.000000,S,15775.0,481.0,150.0,102.0,credit,330.0,NaN,NaN,yahoo.com,5.0,3.0,3.0,0.0,0.0,0.0,8.0,0.0,3.0,5.0,0.0,61.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,109661.000000,2301.000000,0.0,2401.0,66354.0,1.0,103433.0,877.0,1961.0,465.0,0.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,26.0,1.0,2.0,928.0,-10.0,1116.0,6.0,0.0,0.0,52.0,166.0,633.0,533.0,desktop,Windows,5c801927-5915-492a-bd8f-25aae5d66fd6,15775.0_330.0_129.0,2021-06-21T23:11:45Z,user
3548016.0,125.000000,S,15775.0,481.0,150.0,102.0,credit,330.0,NaN,NaN,yahoo.com,5.0,3.0,3.0,0.0,0.0,0.0,8.0,0.0,3.0,5.0,0.0,61.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,109786.000000,2301.000000,0.0,2401.0,66479.0,1.0,103558.0,877.0,1961.0,465.0,0.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,26.0,1.0,2.0,929.0,-10.0,1589.0,6.0,0.0,0.0,52.0,166.0,633.0,533.0,desktop,Windows,c22affaa-cdad-44f9-af8c-d77786da563d,15775.0_330.0_129.0,2021-06-21T23:12:00Z,user
3548017.0,31.950001,W,9500.0,321.0,150.0,226.0,debit,204.0,74.0,NaN,NaN,3.0,3.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,6.0,3.0,1.0,1.0,1.0,2.0,1.0,1.0,27.950001,27.950001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bbbeb533-810f-4f2f-a0b7-59303e9a5210,9500.0_204.0_150.0,2021-06-21T23:12:11Z,user

(29527, 71)
Test scores

               EVENT_LABEL                              EVENT_ID
TransactionID
3548013.0                0  9523fb25-0ce2-42de-9935-9f9d8f55825d
3548014.0                0  17f5dc47-9859-4942-8469-6af6423b9a61
3548015.0                0  5c801927-5915-492a-bd8f-25aae5d66fd6
3548016.0                0  c22affaa-cdad-44f9-af8c-d77786da563d
3548017.0                0  bbbeb533-810f-4f2f-a0b7-59303e9a5210

0    28358
1     1169
Name: EVENT_LABEL, dtype: int64
0    0.965252
1    0.034748
Name: EVENT_LABEL, dtype: float64
=========

Data download location /Users/pringrov/Documents/git/fraud-dataset-benchmark/scripts/examples/tmp
ccfraud
Train set:

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25,v26,v27,v28,amount,EVENT_LABEL,EVENT_ID,ENTITY_ID,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE
0,-1.3598071336738,-0.0727811733098497,2.53634673796914,1.37815522427443,-0.338320769942518,0.462387777762292,0.239598554061257,0.0986979012610507,0.363786969611213,0.0907941719789316,-0.551599533260813,-0.617800855762348,-0.991389847235408,-0.311169353699879,1.46817697209427,-0.470400525259478,0.207971241929242,0.0257905801985591,0.403992960255733,0.251412098239705,-0.018306777944153,0.277837575558899,-0.110473910188767,0.0669280749146731,0.128539358273528,-0.189114843888824,0.133558376740387,-0.0210530534538215,149.62,0,a0069ece-008b-480c-bebf-27c99cc01d2a,24b85ad8-1d8a-4488-8be0-5ce36e58bb70,2021-09-01T00:00:00Z,2023-02-19T15:11:52Z,user
1,1.19185711131486,0.26615071205963,0.16648011335321,0.448154078460911,0.0600176492822243,-0.0823608088155687,-0.0788029833323113,0.0851016549148104,-0.255425128109186,-0.166974414004614,1.61272666105479,1.06523531137287,0.48909501589608,-0.143772296441519,0.635558093258208,0.463917041022171,-0.114804663102346,-0.183361270123994,-0.145783041325259,-0.0690831352230203,-0.225775248033138,-0.638671952771851,0.101288021253234,-0.339846475529127,0.167170404418143,0.125894532368176,-0.00898309914322813,0.0147241691924927,2.69,0,bcc1e0a6-6666-4501-9b33-f964df81368e,234fd40d-7d9c-489a-a2fa-4353fe0eb058,2021-09-01T00:00:00Z,2023-02-19T15:11:52Z,user
2,-1.35835406159823,-1.34016307473609,1.77320934263119,0.379779593034328,-0.503198133318193,1.80049938079263,0.791460956450422,0.247675786588991,-1.51465432260583,0.207642865216696,0.624501459424895,0.066083685268831,0.717292731410831,-0.165945922763554,2.34586494901581,-2.89008319444231,1.10996937869599,-0.121359313195888,-2.26185709530414,0.524979725224404,0.247998153469754,0.771679401917229,0.909412262347719,-0.689280956490685,-0.327641833735251,-0.139096571514147,-0.0553527940384261,-0.0597518405929204,378.66,0,1c583cab-953f-49c5-9aa9-7a40151a617b,6dcd4dd9-7570-4458-8274-aa2dce3bd166,2021-09-01T00:01:00Z,2023-02-19T15:11:52Z,user
3,-0.966271711572087,-0.185226008082898,1.79299333957872,-0.863291275036453,-0.0103088796030823,1.24720316752486,0.23760893977178,0.377435874652262,-1.38702406270197,-0.0549519224713749,-0.226487263835401,0.178228225877303,0.507756869957169,-0.28792374549456,-0.631418117709045,-1.0596472454325,-0.684092786345479,1.96577500349538,-1.2326219700892,-0.208037781160366,-0.108300452035545,0.00527359678253453,-0.190320518742841,-1.17557533186321,0.647376034602038,-0.221928844458407,0.0627228487293033,0.0614576285006353,123.5,0,34582bcd-46f1-4c9f-9e1f-df4ca6f0e625,acd0ce81-d99f-405e-8597-ca93ad426395,2021-09-01T00:01:00Z,2023-02-19T15:11:52Z,user
4,-1.15823309349523,0.877736754848451,1.548717846511,0.403033933955121,-0.407193377311653,0.0959214624684256,0.592940745385545,-0.270532677192282,0.817739308235294,0.753074431976354,-0.822842877946363,0.53819555014995,1.3458515932154,-1.11966983471731,0.175121130008994,-0.451449182813529,-0.237033239362776,-0.0381947870352842,0.803486924960175,0.408542360392758,-0.00943069713232919,0.79827849458971,-0.137458079619063,0.141266983824769,-0.206009587619756,0.502292224181569,0.219422229513348,0.215153147499206,69.99,0,1276ca3f-0715-4731-9ea1-b61396779c14,59bf7855-5fe3-493b-97af-0e273a392579,2021-09-01T00:02:00Z,2023-02-19T15:11:52Z,user

35
(227845, 35)
Test set:

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25,v26,v27,v28,amount,EVENT_ID,ENTITY_ID,EVENT_TIMESTAMP,ENTITY_TYPE
227845,1.91402682161454,-0.490067987909997,-0.326111312515118,0.604710739174721,-0.8501359998436,-0.736318677031096,-0.524057962475328,-0.0886141066361987,1.09112510472248,0.093484357816225,-0.892304625856107,0.0272205159068718,-0.243790209618721,0.0317740067189187,0.900623897113791,0.536032161644219,-0.648408094097169,0.183072340001028,-0.48632249422331,-0.13957876335222,0.210958428878652,0.639337879054097,0.147522551988298,0.0736542664022496,-0.318378246601246,0.350612262707235,-0.0238434747433154,-0.0371393315055126,50,18c37e8f-c126-4a49-a093-504013e101c7,06970b00-eb34-4963-92e6-69ca5e609554,2021-12-10T20:48:00Z,user
227846,2.15269624649984,-0.036160786158066,-2.23181098049803,0.0917658435583919,0.537612206488446,-1.36810250972644,0.613326738349479,-0.455251954849699,0.29181359004335,0.253161344559488,-1.50188197076942,-0.870607641524177,-1.44173756499372,0.988756626201074,0.496349234837293,-0.0686989613348823,-0.454073497932566,-0.299095262736551,0.267443131415241,-0.275777914750361,0.0171533555339963,0.0632416225359206,-0.0345611249491173,-0.626866212626912,0.249213129413917,0.773930519516097,-0.137114784582898,-0.0906106088420727,14.95,32d726d8-ae8d-4c05-9ca2-b6f53399b376,d7f4bf48-ab53-4b28-81f8-783074a00acf,2021-12-10T20:49:00Z,user
227847,-4.03479516717275,2.30507905571504,-1.46169292457709,-0.729887055238227,-1.5287503399573,-1.22567909778369,-0.893353679497868,1.62252199369554,1.29199841774415,-0.0409558359937061,-0.971425287697512,0.574743695630458,0.155656078919204,-0.729054997889385,0.477438947999659,1.06171851569252,0.93469475367536,0.403768792198479,-0.494929851777981,-0.0810925858921718,-0.392556502541116,-0.78759906251576,0.343467795972994,-0.0903313999840935,0.248286972151669,-0.238523845342424,0.26648354183946,-0.0622361634691654,7.7,0e38c789-c03f-437f-84e3-8702b9e80dae,7cfc0497-97d2-4d69-94a2-3d8569158983,2021-12-10T20:49:00Z,user
227848,-1.66874106862583,1.16805471760364,0.249642461553748,-1.26849748925032,0.785922573014156,-0.663958562166729,0.859432973616895,0.0681106263347446,-0.144183044927318,0.0432880841287975,0.542013736060061,1.00202450469061,0.400759595743433,0.136412487776037,-1.28964902448879,0.276827961550432,-0.868491702025561,-0.366839507131127,-0.187391599008302,-0.0335233340620367,-0.247543775399679,-0.592536769878023,-0.286693549546811,-0.378855664973759,-0.0774289041638705,0.0676084004301294,-0.27896200360197,-0.0641926690992577,6.99,c4b065fe-b226-4feb-aba1-31d103e01694,25108026-3064-44cc-816c-624aa517efde,2021-12-10T20:49:00Z,user
227849,-0.550678353341949,-0.429004102182237,-1.29189255347072,-0.414409226593379,-0.292228538671312,0.071842939235058,2.42606795091335,-0.212729758223082,0.412374372851086,-1.93996940549555,-1.81011838293809,-1.22351031687552,-1.32491464932768,-1.46239178995552,-0.31164055759838,0.506707760378257,0.739932584638577,0.892422017204659,0.195042529037103,0.791126747715284,0.00303193944814891,-0.645782978858753,0.877016475964068,-1.22852893747944,-0.0362812174160739,-0.110609895882901,-0.0983803135271981,0.0959849443846813,460.71,888e1c8d-38c4-4651-816a-ab22e60dfba4,89e91c40-39f0-4c75-9c22-9224c51d3e9a,2021-12-10T20:50:00Z,user

(56962, 33)
Test scores

        EVENT_LABEL                              EVENT_ID
227845            0  18c37e8f-c126-4a49-a093-504013e101c7
227846            0  32d726d8-ae8d-4c05-9ca2-b6f53399b376
227847            0  0e38c789-c03f-437f-84e3-8702b9e80dae
227848            0  c4b065fe-b226-4feb-aba1-31d103e01694
227849            0  888e1c8d-38c4-4651-816a-ab22e60dfba4

0    56887
1       75
Name: EVENT_LABEL, dtype: int64
0    0.99817
1    0.00183
Name: EVENT_LABEL, dtype: float64
=========

Data download location /Users/pringrov/Documents/git/fraud-dataset-benchmark/scripts/examples/tmp
fraudecom
Train set:

,EVENT_ID,purchase_value,ENTITY_ID,source,browser,age,ip_address,EVENT_LABEL,time_since_signup,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE
115086,309557,14,BBPACGBUVJUXF,Ads,Chrome,38,119.75.87.223,1,1,2021-01-01T00:00:44Z,2023-02-19T15:11:52Z,user
41990,124539,14,BBPACGBUVJUXF,Ads,Chrome,38,119.75.87.223,1,1,2021-01-01T00:00:45Z,2023-02-19T15:11:52Z,user
134836,161246,14,BBPACGBUVJUXF,Ads,Chrome,38,119.75.87.223,1,1,2021-01-01T00:00:46Z,2023-02-19T15:11:52Z,user
24572,356414,14,BBPACGBUVJUXF,Ads,Chrome,38,119.75.87.223,1,1,2021-01-01T00:00:47Z,2023-02-19T15:11:52Z,user
106160,338656,14,BBPACGBUVJUXF,Ads,Chrome,38,119.75.87.223,1,1,2021-01-01T00:00:48Z,2023-02-19T15:11:52Z,user

12
(120889, 12)
Test set:

,EVENT_ID,purchase_value,ENTITY_ID,source,browser,age,ip_address,time_since_signup,EVENT_TIMESTAMP,ENTITY_TYPE
69628,304435,50,EFASVBVKDGQKI,Ads,Chrome,40,202.165.191.211,35310,2021-08-30T15:18:56Z,user
120573,222177,30,LUAQDRQGTDVHQ,SEO,Chrome,39,2.82.213.23,52655,2021-08-30T15:20:03Z,user
105050,308836,35,ODWUMTCAPBLXP,Ads,FireFox,20,73.185.82.155,35083,2021-08-30T15:20:35Z,user
118037,202515,20,LTOEZIQLNHGAC,Ads,IE,37,108.236.13.248,4032,2021-08-30T15:27:14Z,user
6094,260389,46,GMTRBZCZVBKQC,Ads,Chrome,34,129.163.194.162,19237,2021-08-30T15:28:27Z,user

(30223, 10)
Test scores

        EVENT_LABEL EVENT_ID
69628             0   304435
120573            0   222177
105050            0   308836
118037            0   202515
6094              0   260389

0    28834
1     1389
Name: EVENT_LABEL, dtype: int64
0    0.894432
1    0.105568
Name: EVENT_LABEL, dtype: float64
=========

Data download location /Users/pringrov/Documents/git/fraud-dataset-benchmark/scripts/examples/tmp
twitterbot
Train set:

,unnamed: 0,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,EVENT_ID,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,EVENT_LABEL,ENTITY_ID,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE
20963,20963,2013-05-27 21:22:15,True,False,"WHO is Kyle Tyrone Ferguson? Father, Husband, Friend, Nerd, Teacher, Black man... Into Superheroes, MTG, Deck building games, tv, movies, and other geekery.",32374,2395,2823,True,1463172686,en,"Mount Morris, MI",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1022468674169569280/7tpDfAwa_normal.jpg,blerdwords,11448,False,4.336,2640,0,4fea32c8-bb85-40c6-8bf1-0aaa1ff4499c,2022-11-18T05:21:12Z,2023-02-19T15:11:52Z,user
6331,6331,2009-09-14 18:58:36,False,False,"Comedian, writer, former TV news producer, drunk historian, Twitter Queen, asshole and owner of Dewey. @doinitpodcast host Bookings: smark@wmeagency.com @Cameo",68664,350789,1528,False,74231747,en,Los Angeles - Always a Texan,http://abs.twimg.com/images/themes/theme9/bg.gif,http://pbs.twimg.com/profile_images/772455794243571712/bGBBHx0N_normal.jpg,JennyJohnsonHi5,18732,True,4.694,3991,0,aba4e6f9-a3f6-4271-a1f5-ce1f13e08f96,2022-11-18T20:59:01Z,2023-02-19T15:11:52Z,user
17209,17209,2010-06-06 16:27:08,True,False,NaN,74,54,657,False,152688783,NaN,Abu Dhabi,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/968278541/For-Twitter_normal.png,AbnerJosh,161,False,0.043,3726,1,85020c62-01f8-4aa5-9b57-78ec3e19c06a,2023-01-21T04:52:00Z,2023-02-19T15:11:52Z,user
23964,23964,2010-06-22 21:56:09,False,False,Information and updates from southern Saskatchewan from the hardworking journalists and photographers who make up the Global Regina newsroom.,1517,55881,991,True,158502985,en,"Regina, SK Canada",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/722495430097903616/dKLfuc1-_normal.jpg,GlobalRegina,103379,True,27.865,3710,0,374a7c63-c39f-420d-a430-7447daa869ff,2022-11-26T01:40:12Z,2023-02-19T15:11:52Z,user
30569,30569,2009-03-10 02:26:45,False,False,Detritus,2616,1118405,657,False,23544268,no,unknown,http://abs.twimg.com/images/themes/theme11/bg.gif,http://pbs.twimg.com/profile_images/1281416121212493826/HVjvkjRz_normal.jpg,OfficialKat,4980,True,1.191,4180,0,4fadbba0-c45e-4245-a241-52f6049857ac,2022-05-10T13:47:35Z,2023-02-19T15:11:52Z,user

24
(29950, 24)
Test set:

,unnamed: 0,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,EVENT_ID,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,ENTITY_ID,EVENT_TIMESTAMP,ENTITY_TYPE
0,1,2016-11-09 05:01:30,False,False,"Photographing the American West since 1980. I specialize in location portraits & events, both indoors & outside, using natural light & portable studio lighting.",536,860,880,False,796216118331310080,en,Estados Unidos,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/802329632838037504/CQN6gP7k_normal.jpg,CJRubinPhoto,252,False,0.183,1379,5324caa2-e6c0-4941-8bb3-26af18931a91,2022-02-27T19:17:56Z,user
1,9,2012-02-14 15:33:48,False,False,"Man Utd fan. mostly here for football. Takes photos. Ex care worker, does stuff with computers often sarcastic. 🐝🇬🇧🇪🇺",36384,2130,3363,True,492306486,en,United Kingdom,http://abs.twimg.com/images/themes/theme14/bg.gif,http://pbs.twimg.com/profile_images/1211318786512609281/e6UqYEa4_normal.jpg,GhamGraham,63376,False,20.391,3108,35cef00c-d5ee-493d-8416-20d24b28fa4a,2023-01-01T16:04:56Z,user
2,10,2011-12-09 14:11:56,False,False,"Stay hungry, Stay foolish.",127,32,0,False,432537664,en,in the clouds.,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/809682832645824512/WOJIsCmg_normal.jpg,jainabdulaziz,921,False,0.29,3175,5d3f370a-ef44-4d79-aa2f-869b175b1930,2022-06-25T19:40:25Z,user
3,14,2010-11-03 15:40:20,False,False,"Femminista, animalista, antiproibizionista... E altre -ista che ora non ricordo. Ora dirigo il sito de #LeIene 👊🏿",4071,252142,562,True,211550281,it,Italy,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1046488383684521988/KrnhpZyJ_normal.jpg,giuliainnocenzi,6029,True,1.686,3576,942608f7-d055-413b-ad92-4316ec899a5e,2022-06-15T15:21:47Z,user
4,15,2012-08-20 11:58:04,False,False,Mi viene da vomitare. \n\n \nDove sono le mie Jordan?,81967,5281,581,True,769392715,it,Oblio,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1271034506041085953/xWUZXxMm_normal.jpg,RichiMasu,106263,False,36.391,2920,dae7f6a1-3a00-4f2b-955d-8f753eff6ff9,2022-03-30T20:38:53Z,user

(7488, 22)
Test scores

   EVENT_LABEL            EVENT_ID
0            0  796216118331310080
1            0           492306486
2            0           432537664
3            0           211550281
4            0           769392715

0    4987
1    2501
Name: EVENT_LABEL, dtype: int64
0    0.668648
1    0.331352
Name: EVENT_LABEL, dtype: float64
=========

ipblock
Train set:

,ip,EVENT_LABEL,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE,EVENT_ID,ENTITY_ID,dummy_cat
0,128.1.248.44,1,2021-11-16T04:03:42Z,2022-06-01T20:30:04Z,user,27dd3612-b997-4e9a-9442-eb08e0f7f923,068b7a8c-8d4a-49a3-ab3a-e4d905ace4cc,1253a4fb-cbfe-4e43-bc4c-4ecbe1cf58da
1,119.46.34.11,0,2022-04-22T04:24:50Z,2022-06-01T20:30:04Z,user,19474b6d-0af8-4610-b80e-485a43276e8a,9e41adf9-fc4d-4078-a005-c9a85950c858,63c81521-a604-4923-9c82-0e82878042d7
2,186.172.135.47,0,2022-05-04T19:47:16Z,2022-06-01T20:30:04Z,user,0db63c1e-dd12-4b2b-a39c-254af2176a83,fea535c1-1b52-411d-a38e-adcbec57a95d,9ded7f8a-d6fe-414a-a2da-c5f09588ebce
3,181.133.0.112,0,2022-02-25T04:37:01Z,2022-06-01T20:30:04Z,user,8be34510-e76d-4b78-bb4f-b8f721b8abe5,10d04fd3-db0b-4096-bfbc-4262b280ed69,0d8f329f-dda5-47f0-bd16-430f8745b4d5
4,51.4.204.17,0,2022-06-01T06:11:56Z,2022-06-01T20:30:04Z,user,1ae9a3e9-b410-4f36-a3bf-8b466fea97c1,27f40e1b-8a49-43ab-9b68-5ec24469845f,df1cb347-9712-4743-9801-d11eb415d823

8
(172000, 8)
Test set:

,ip,EVENT_TIMESTAMP,ENTITY_TYPE,EVENT_ID,ENTITY_ID,dummy_cat
0,1.10.226.56,2022-03-25T13:09:37Z,user,c6bcbff7-7c2e-4780-8007-ed29cea7535b,1f18a08e-c6ab-4d32-a210-3aed5533c272,3a966adb-01d2-487a-b6ac-c4075be9aff0
1,1.116.89.251,2021-12-19T04:06:53Z,user,3a1e89c3-9bd1-4f32-8b7e-69c97e2fba92,24625027-898a-4ed0-8e95-485b3fd39663,53e2a419-4652-4011-a9fb-6de2a4a1cfcd
2,1.117.176.186,2021-10-02T02:10:34Z,user,1a634e22-b87c-4981-ad66-587a82bfa6e8,2767ff1e-a6d1-4f3e-8f99-dbd2d47152c5,d48e48ca-fcf2-4594-8d37-6511b8ff51c7
3,1.117.207.86,2021-10-31T12:18:58Z,user,dc3e7d0c-1bfd-49d6-ba7d-e9e6e325e8c3,7cd5f610-28c1-451a-a86c-75ce1d6b0385,3ae02507-69ef-46ba-b435-2abced9560fa
4,1.13.17.184,2022-03-08T14:20:40Z,user,59012ee9-8f28-48f2-a133-10cd558ed319,98f6bf66-a87e-4f59-a2d3-e5f673023611,76ed0fbf-70be-4702-9c3e-5abfba2dd536

(43000, 6)
Test scores

   EVENT_LABEL                              EVENT_ID
0            1  c6bcbff7-7c2e-4780-8007-ed29cea7535b
1            1  3a1e89c3-9bd1-4f32-8b7e-69c97e2fba92
2            1  1a634e22-b87c-4981-ad66-587a82bfa6e8
3            1  dc3e7d0c-1bfd-49d6-ba7d-e9e6e325e8c3
4            1  59012ee9-8f28-48f2-a133-10cd558ed319

0    40003
1     2997
Name: EVENT_LABEL, dtype: int64
0    0.930215
1    0.069785
Name: EVENT_LABEL, dtype: float64
=========

## Without random values in missing columns

Parameter settings

- load_pre_downloaded: False
- delete_downloaded: True
- add_random_values_if_real_na = - add_random_values_if_real_na = ```
{
"EVENT_TIMESTAMP": False,
"LABEL_TIMESTAMP": False,
"ENTITY_ID": False,
"ENTITY_TYPE": True,
"ENTITY_ID": True,
"EVENT_ID": False
}
```

In [7]:
all_keys = ['twitterbot']

In [8]:
for key in all_keys:
    obj = FraudDatasetBenchmark(key=key,  
                                add_random_values_if_real_na = { "EVENT_TIMESTAMP": False, 
                                                                "LABEL_TIMESTAMP": False,
                                                                "ENTITY_ID": False,
                                                                "ENTITY_TYPE": True,
                                                                "ENTITY_ID": True,
                                                                "EVENT_ID": True})
    print(obj.key)
    print('Train set: ')
    display(obj.train.head())
    print(len(obj.train.columns))
    print(obj.train.shape)
    print('Test set: ')
    display(obj.test.head())
    print(obj.test.shape)
    print('Test scores')
    display(obj.test_labels.head())
    print(obj.test_labels['EVENT_LABEL'].value_counts())
    print(obj.train['EVENT_LABEL'].value_counts(normalize=True))
    print('=========','\n')

Data download location /Users/pringrov/Documents/git/fraud-dataset-benchmark/scripts/examples/tmp
twitterbot
Train set:

,unnamed: 0,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,EVENT_ID,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,EVENT_LABEL,ENTITY_ID,ENTITY_TYPE
20963,20963,2013-05-27 21:22:15,True,False,"WHO is Kyle Tyrone Ferguson? Father, Husband, Friend, Nerd, Teacher, Black man... Into Superheroes, MTG, Deck building games, tv, movies, and other geekery.",32374,2395,2823,True,1463172686,en,"Mount Morris, MI",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1022468674169569280/7tpDfAwa_normal.jpg,blerdwords,11448,False,4.336,2640,0,5a789e0e-e5dd-41d3-b557-c35e1544dd16,user
6331,6331,2009-09-14 18:58:36,False,False,"Comedian, writer, former TV news producer, drunk historian, Twitter Queen, asshole and owner of Dewey. @doinitpodcast host Bookings: smark@wmeagency.com @Cameo",68664,350789,1528,False,74231747,en,Los Angeles - Always a Texan,http://abs.twimg.com/images/themes/theme9/bg.gif,http://pbs.twimg.com/profile_images/772455794243571712/bGBBHx0N_normal.jpg,JennyJohnsonHi5,18732,True,4.694,3991,0,edcdfc26-9847-4e13-8c72-cc93b6f3f404,user
17209,17209,2010-06-06 16:27:08,True,False,NaN,74,54,657,False,152688783,NaN,Abu Dhabi,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/968278541/For-Twitter_normal.png,AbnerJosh,161,False,0.043,3726,1,f0c2634e-c27b-499d-a4c8-4ce766ce6693,user
23964,23964,2010-06-22 21:56:09,False,False,Information and updates from southern Saskatchewan from the hardworking journalists and photographers who make up the Global Regina newsroom.,1517,55881,991,True,158502985,en,"Regina, SK Canada",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/722495430097903616/dKLfuc1-_normal.jpg,GlobalRegina,103379,True,27.865,3710,0,a3df9c67-3e9c-4d75-9088-865e842fe69c,user
30569,30569,2009-03-10 02:26:45,False,False,Detritus,2616,1118405,657,False,23544268,no,unknown,http://abs.twimg.com/images/themes/theme11/bg.gif,http://pbs.twimg.com/profile_images/1281416121212493826/HVjvkjRz_normal.jpg,OfficialKat,4980,True,1.191,4180,0,68b37542-0af0-44f7-95dc-0a4d67ab47b4,user

22
(29950, 22)
Test set:

,unnamed: 0,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,EVENT_ID,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,ENTITY_ID,ENTITY_TYPE
0,1,2016-11-09 05:01:30,False,False,"Photographing the American West since 1980. I specialize in location portraits & events, both indoors & outside, using natural light & portable studio lighting.",536,860,880,False,796216118331310080,en,Estados Unidos,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/802329632838037504/CQN6gP7k_normal.jpg,CJRubinPhoto,252,False,0.183,1379,7579b457-63d4-421f-9995-9bb684a3534b,user
1,9,2012-02-14 15:33:48,False,False,"Man Utd fan. mostly here for football. Takes photos. Ex care worker, does stuff with computers often sarcastic. 🐝🇬🇧🇪🇺",36384,2130,3363,True,492306486,en,United Kingdom,http://abs.twimg.com/images/themes/theme14/bg.gif,http://pbs.twimg.com/profile_images/1211318786512609281/e6UqYEa4_normal.jpg,GhamGraham,63376,False,20.391,3108,f0dd4126-1187-419b-bed0-daa4f720f6c2,user
2,10,2011-12-09 14:11:56,False,False,"Stay hungry, Stay foolish.",127,32,0,False,432537664,en,in the clouds.,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/809682832645824512/WOJIsCmg_normal.jpg,jainabdulaziz,921,False,0.29,3175,1d77b50b-a8e6-4ed3-b59b-c9b8f0132a64,user
3,14,2010-11-03 15:40:20,False,False,"Femminista, animalista, antiproibizionista... E altre -ista che ora non ricordo. Ora dirigo il sito de #LeIene 👊🏿",4071,252142,562,True,211550281,it,Italy,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1046488383684521988/KrnhpZyJ_normal.jpg,giuliainnocenzi,6029,True,1.686,3576,7dc8b6cb-62e5-4c71-b97c-8f38881e84f2,user
4,15,2012-08-20 11:58:04,False,False,Mi viene da vomitare. \n\n \nDove sono le mie Jordan?,81967,5281,581,True,769392715,it,Oblio,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1271034506041085953/xWUZXxMm_normal.jpg,RichiMasu,106263,False,36.391,2920,727fe0b5-004b-48fd-851d-5a2390338213,user

(7488, 21)
Test scores

   EVENT_LABEL            EVENT_ID
0            0  796216118331310080
1            0           492306486
2            0           432537664
3            0           211550281
4            0           769392715

0    4987
1    2501
Name: EVENT_LABEL, dtype: int64
0    0.668648
1    0.331352
Name: EVENT_LABEL, dtype: float64
=========

## Persisting downloaded data

**Important**: If you are running multiple experiments, download from Kaggle multiple times might exceed account level API call limits. So persisting the downloaded dataset is recommended in such scenarios

#### First download but not delete the data

Parameter settings

- load_pre_downloaded: False
- delete_downloaded: False
- add_random_values_if_real_na = ```
{
"EVENT_TIMESTAMP": False,
"LABEL_TIMESTAMP": False,
"ENTITY_ID": False,
"ENTITY_TYPE": True,
"ENTITY_ID": True,
"EVENT_ID": True
}
```

In [9]:
all_keys = ['twitterbot']

In [10]:
for key in all_keys:
    obj = FraudDatasetBenchmark(key=key,  
                                delete_downloaded=False,
                                add_random_values_if_real_na = { "EVENT_TIMESTAMP": False, "LABEL_TIMESTAMP": False, "ENTITY_ID": False, "ENTITY_TYPE": True, "ENTITY_ID": True })
    print(obj.key)
    print('Train set: ')
    display(obj.train.head())
    print(len(obj.train.columns))
    print(obj.train.shape)
    print('=========','\n')

Data download location /Users/pringrov/Documents/git/fraud-dataset-benchmark/scripts/examples/tmp
twitterbot
Train set:

,unnamed: 0,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,EVENT_ID,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,EVENT_LABEL,ENTITY_ID,ENTITY_TYPE
20963,20963,2013-05-27 21:22:15,True,False,"WHO is Kyle Tyrone Ferguson? Father, Husband, Friend, Nerd, Teacher, Black man... Into Superheroes, MTG, Deck building games, tv, movies, and other geekery.",32374,2395,2823,True,1463172686,en,"Mount Morris, MI",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1022468674169569280/7tpDfAwa_normal.jpg,blerdwords,11448,False,4.336,2640,0,69492b90-b639-4197-9f71-d8f9767f6a5c,user
6331,6331,2009-09-14 18:58:36,False,False,"Comedian, writer, former TV news producer, drunk historian, Twitter Queen, asshole and owner of Dewey. @doinitpodcast host Bookings: smark@wmeagency.com @Cameo",68664,350789,1528,False,74231747,en,Los Angeles - Always a Texan,http://abs.twimg.com/images/themes/theme9/bg.gif,http://pbs.twimg.com/profile_images/772455794243571712/bGBBHx0N_normal.jpg,JennyJohnsonHi5,18732,True,4.694,3991,0,6e30c17b-8634-48b5-bdca-35197a164cf4,user
17209,17209,2010-06-06 16:27:08,True,False,NaN,74,54,657,False,152688783,NaN,Abu Dhabi,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/968278541/For-Twitter_normal.png,AbnerJosh,161,False,0.043,3726,1,9edb02d8-67ea-4610-aaa4-fd8c5103b8e7,user
23964,23964,2010-06-22 21:56:09,False,False,Information and updates from southern Saskatchewan from the hardworking journalists and photographers who make up the Global Regina newsroom.,1517,55881,991,True,158502985,en,"Regina, SK Canada",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/722495430097903616/dKLfuc1-_normal.jpg,GlobalRegina,103379,True,27.865,3710,0,3ea7e58c-18c8-4c4c-8062-8a45779cb97f,user
30569,30569,2009-03-10 02:26:45,False,False,Detritus,2616,1118405,657,False,23544268,no,unknown,http://abs.twimg.com/images/themes/theme11/bg.gif,http://pbs.twimg.com/profile_images/1281416121212493826/HVjvkjRz_normal.jpg,OfficialKat,4980,True,1.191,4180,0,3a3cc23c-2c0e-4f08-85d7-817b0c43c659,user

22
(29950, 22)
=========

#### Now load from previosly downloaded data

Parameter settings

- load_pre_downloaded: True
- delete_downloaded: False
- add_random_values_if_real_na = ```
{
"EVENT_TIMESTAMP": False,
"LABEL_TIMESTAMP": False,
"ENTITY_ID": False,
"ENTITY_TYPE": True,
"ENTITY_ID": True,
"EVENT_ID": True
}
```

In [11]:
all_keys = ['twitterbot']

In [12]:
for key in all_keys:
    obj = FraudDatasetBenchmark(key=key,  
                                load_pre_downloaded=True,
                                delete_downloaded=False,
                                add_random_values_if_real_na = { "EVENT_TIMESTAMP": False, 
                                                                "LABEL_TIMESTAMP": False,
                                                                "ENTITY_ID": False,
                                                                "ENTITY_TYPE": True,
                                                                "ENTITY_ID": True,
                                                                "EVENT_ID": True})
    print(obj.key)
    print('Train set: ')
    display(obj.train.head())
    print(len(obj.train.columns))
    print(obj.train.shape)
    print('=========','\n')

twitterbot
Train set:

,unnamed: 0,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,EVENT_ID,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,EVENT_LABEL,ENTITY_ID,ENTITY_TYPE
20963,20963,2013-05-27 21:22:15,True,False,"WHO is Kyle Tyrone Ferguson? Father, Husband, Friend, Nerd, Teacher, Black man... Into Superheroes, MTG, Deck building games, tv, movies, and other geekery.",32374,2395,2823,True,1463172686,en,"Mount Morris, MI",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1022468674169569280/7tpDfAwa_normal.jpg,blerdwords,11448,False,4.336,2640,0,a3ff23a7-9c11-4884-aa34-142328cc9057,user
6331,6331,2009-09-14 18:58:36,False,False,"Comedian, writer, former TV news producer, drunk historian, Twitter Queen, asshole and owner of Dewey. @doinitpodcast host Bookings: smark@wmeagency.com @Cameo",68664,350789,1528,False,74231747,en,Los Angeles - Always a Texan,http://abs.twimg.com/images/themes/theme9/bg.gif,http://pbs.twimg.com/profile_images/772455794243571712/bGBBHx0N_normal.jpg,JennyJohnsonHi5,18732,True,4.694,3991,0,7282e344-17e4-4711-a354-a40d7c4b40f0,user
17209,17209,2010-06-06 16:27:08,True,False,NaN,74,54,657,False,152688783,NaN,Abu Dhabi,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/968278541/For-Twitter_normal.png,AbnerJosh,161,False,0.043,3726,1,557f2a1f-995e-48f2-a49e-f514365d4c80,user
23964,23964,2010-06-22 21:56:09,False,False,Information and updates from southern Saskatchewan from the hardworking journalists and photographers who make up the Global Regina newsroom.,1517,55881,991,True,158502985,en,"Regina, SK Canada",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/722495430097903616/dKLfuc1-_normal.jpg,GlobalRegina,103379,True,27.865,3710,0,acd2be35-2855-492f-830b-c0e5a67d7250,user
30569,30569,2009-03-10 02:26:45,False,False,Detritus,2616,1118405,657,False,23544268,no,unknown,http://abs.twimg.com/images/themes/theme11/bg.gif,http://pbs.twimg.com/profile_images/1281416121212493826/HVjvkjRz_normal.jpg,OfficialKat,4980,True,1.191,4180,0,d007f914-71a9-4443-9fa4-272ba72d91e1,user

22
(29950, 22)
=========

# End