In [2]:
import sys
sys.path.append('../../src/')
from fdb.datasets import FraudDatasetBenchmark
from fdb.kaggle_configs import KAGGLE_CONFIGS

In [21]:
# Notebook setups

import os
import numpy as np
import pandas as pd
from io import StringIO

from IPython.core.display import display, HTML
from IPython.display import clear_output
display(HTML("<style>.container { width:90% }</style>"))
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', 200)
pd.set_option('display.max_rows', 500)

In [4]:
import shutil

if os.path.exists('tmp'):
    shutil.rmtree('tmp')

In [20]:
# UNCOMMENT IF YOU NEED TO UPLOAD DATA TO AN S3 BUCKET IN YOUR ACCOUNT

# import boto3
# BUCKET='<ADD S3 BUCKET NAME IF YOU WANT TO UPLOAD DATA TO YOUR ACCOUNT>'

# def _s3_upload(df):
#     csv_memory=StringIO()
#     df.to_csv(csv_memory, index=False)
#     content = csv_memory.getvalue()
#     s3_client.put_object(
#         Body=content,
#         Bucket=BUCKET,
#         Key=KEY,
#        ACL='bucket-owner-full-control')
# s3_client = boto3.client('s3')

In [24]:
# All options for keys
all_keys = ['fakejob', 'vehicleloan', 'malurl', 'ieeecis', 'ccfraud','fraudecom', 'twitterbot', 'ipblock']
# all_keys = ['ipblock']

In [25]:
# for key, val in KAGGLE_CONFIGS.items():
for key in all_keys:
    obj = FraudDatasetBenchmark(key=key)
    print(obj.key)
    print('Train set: ')
    display(obj.train.head())
    print(len(obj.train.columns))
    print(obj.train.shape)
    print('Test set: ')
    display(obj.test.head())
    print(obj.test.shape)
    print('Test scores')
    display(obj.test_labels.head())
    print(obj.test_labels['EVENT_LABEL'].value_counts())
    print(obj.train['EVENT_LABEL'].value_counts(normalize=True))
    print('=========','\n')

#         KEY= f'public/official-dataset-names/{val["name"]}/train.csv'
#         _s3_upload(obj.train)


#         KEY= f'public/official-dataset-names/{val["name"]}/test.csv'
#         _s3_upload(obj.test)


#         KEY= f'public/official-dataset-names/{val["name"]}/test_labels.csv'
#         _s3_upload(obj.test_labels)

Data download location /local/pringrov/git/fraud_dataset_benchmark/scripts/examples/tmp
fakejob
Train set:

,EVENT_ID,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,EVENT_LABEL,ENTITY_ID,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE
5736,5737,Jr. Business Analyst & Quality Analyst (entry level),"US, NJ, PISCATAWAY",NaN,NaN,NaN,"Duration: Full time / W2Location: Piscataway,NJJob description: BA/QA We are looking to hire resources for our Financial &amp; Health care clients.Candidate should have knowledge or experience in ...","What we require:-- Masters degree in Computers Science/ Information Technology/MBA.-- Candidates willing to relocates New Jersey. -- Excellent Communication skills. -- Quick learner, Ability to ad...",NaN,0,0,0,Full-time,Entry level,Master's Degree,Financial Services,Finance,0,0c497496-ad05-4b85-a48a-ce88f408a43a,2022-05-30T09:49:09Z,2022-06-01T20:30:04Z,user
7106,7107,English Teacher Abroad,"US, PA, Scranton",NaN,NaN,We help teachers get safe &amp; secure jobs abroad :),"Play with kids, get paid for it Love travel? Jobs in Asia$1,500+ USD monthly ($200 Cost of living)Housing provided (Private/Furnished)Airfare ReimbursedExcellent for student loans/credit cardsGabr...",University degree required. TEFL / TESOL / CELTA or teaching experience preferred but not necessaryCanada/US passport holders only,See job description,0,1,1,Contract,NaN,Bachelor's Degree,Education Management,NaN,0,67d5b223-af24-480b-ab81-df25bb177d8b,2022-04-04T22:32:02Z,2022-06-01T20:30:04Z,user
11978,11979,"SQL Server Database Developer Job opportunity at Barrington, IL","US, IL, Barrington",NaN,90000-100000,We are an innovative personnel-sourcing firm with solid team strength in recruiting candidates for various domains in the IT and Non-IT sectors. We offer a whole gamut of HR services such as sourc...,"Position : SQL Server Database DeveloperJob Location : Location: Barrington, ILUs work status required : H1B / EAD / Green Card / US Citizens Position Summary:The SQL Server Database Developer wil...","Position : SQL Server Database DeveloperJob Location : Location: Barrington, ILUs work status required : H1B / EAD / Green Card / US Citizens Position Summary:The SQL Server Database Developer wil...",Benefits - FullBonus Eligible - Yes,0,0,0,Full-time,Mid-Senior level,Bachelor's Degree,Information Technology and Services,Information Technology,0,c2507e2b-a4a7-4fc6-a197-e2b06e4657b6,2021-08-08T17:38:29Z,2022-06-01T20:30:04Z,user
9374,9375,Legal Analyst - 12 Month FTC,"GB, LND, London",Legal,NaN,MarketInvoice is one of the most high-profile London based fin-tech companies. The Company is Europe’s leading P2P invoice finance platform that allows SMEs to quickly and flexibly sell their invo...,DescriptionOur mission at MarketInvoice is to modernise the way by which businesses finance their working capital and fund their growth. We are seeking to bring much-needed innovation to the banki...,"Duties and ResponsibilitiesReviewing contractual terms and advising on legal risksDrafting deeds, contracts and other legal documentationResearching and advising on ad hoc legal issuesManaging col...",Competitive salaryPrivate HealthcareHalf price gym membership25 days holidayThe opportunity to progress your career at one of London's hottest FinTech startupsStart Date - as soon as possible.,0,1,0,Full-time,Associate,Professional,Financial Services,Legal,0,5b4099cf-0a78-4324-b2c9-2b885d46f7f7,2021-09-23T18:12:46Z,2022-06-01T20:30:04Z,user
1300,1301,Part-Time Finance Assistant,"GB, LND,",NaN,NaN,NaN,"Salary:£9 - £10 per hour We are currently going through an exciting period of change and a new client base, resulting in this part-time finance position being created. You will offer a flexible, a...","Your role will be a varied, interesting and interactive role, and will likely to be approximately 15-20 hours per week (sometimes more) and will include: - Book-keeping via Sage Line 50 - Bank rec...",Salary:£9 - £10 per hour,0,0,0,Part-time,NaN,NaN,Accounting,NaN,0,e76dc2f8-e067-4128-bd76-96f99b5487c8,2022-01-18T10:06:18Z,2022-06-01T20:30:04Z,user

22
(14304, 22)
Test set:

,EVENT_ID,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,ENTITY_ID,EVENT_TIMESTAMP,ENTITY_TYPE
0,10,Customer Service Associate - Part Time,"US, AZ, Phoenix",NaN,NaN,"Novitex Enterprise Solutions, formerly Pitney Bowes Management Services, delivers innovative document and communications management solutions that help companies around the world drive business pr...","The Customer Service Associate will be based in Phoenix, AZ. The right candidate will be an integral part of our talented team, supporting our continued growth.Responsibilities:Perform various Mai...",Minimum Requirements:Minimum of 6 months customer service related experience requiredHigh school diploma or equivalent (GED) requiredValid Driver's License and good driving record requiredPreferre...,NaN,0,1,0,Part-time,Entry level,High School or equivalent,Financial Services,Customer Service,f9d3439c-ddad-4dfa-a941-b1bae7536bfd,2022-05-29T06:55:28Z,user
1,15,Account Executive - Sydney,"AU, NSW, Sydney",Sales,NaN,Adthena is the UK’s leading competitive intelligence service for Google search advertisers. Adthena is loved by major brands and digital agencies alike and provides a great opportunity to work in ...,Are you interested in a satisfying and financially rewarding role in a high growth technology company? You’ll work in a casual yet high energy environment alongside passionate people delivering th...,You’ll need to be smart and passionate and have 2 years experience selling software/Saas ideally including familiarity with PPC and marketing technologies. Excellent presentation and communication...,"In return we'll pay you well, give you some ownership in the company (stock options) and importantly provide you with excellent opportunities for advancement and professional development. Oh, and ...",0,1,0,Full-time,Associate,Bachelor's Degree,Internet,Sales,e707fba0-9c57-4223-99f0-3b4e6ff0702d,2021-09-09T23:46:41Z,user
2,16,VP of Sales - Vault Dragon,"SG, 01, Singapore",Sales,120000-150000,"Jungle Ventures is the leading Singapore based, entrepreneur backed, venture capital firm, that funds and actively supports start-ups in scaling across Asia Pacific. We pride ourselves on leading ...",About Vault Dragon Vault Dragon is Dropbox for your physical stuff - a startup that is changing the aesthetic face of Singapore by creating more space in households and offices. We also save count...,"Key Superpowers3-5 years of high-pressure sales experience, but if you absorb knowledge like a sponge and keep getting promoted we are flexiblePreferably mastery of both phone and field sales for ...","Basic: SGD 120,000Equity negotiable for a rock starGround floor opportunity to make a difference and do things as Dean said ""my way""Hire and train your own superhero sales team, the way you wantMa...",0,1,1,Full-time,Executive,Bachelor's Degree,Facilities Services,Sales,3ca37e05-eb3b-48c5-9d27-cf2bfae63dce,2021-09-04T00:28:08Z,user
3,19,Visual Designer,"US, NY, New York",NaN,NaN,Kettle is an independent digital agency based in New York City and the Bay Area. We’re committed to making digital do more — for both people and brands — because we believe the digital world offer...,"Kettle is hiring a Visual Designer!Job Location: New York, NYKettle is a growing digital agency focused on delivering outstanding products, and we’ve been working hard to find equally outstanding ...",NaN,NaN,0,1,0,NaN,NaN,NaN,NaN,NaN,e7772c19-075c-43db-9952-e5145c9649e0,2022-01-14T05:47:17Z,user
4,21,Marketing Assistant,"US, TX, Austin",NaN,NaN,IntelliBright was created to leverage enterprise level online business practices to generate exclusive leads on behalf of our medium and small business clients across a wide variety of verticals. ...,IntelliBright is growing fast and is looking for a Marketing Assistant to join our team. Your invaluable input will help our small to midsize business clientele to achieve their greatest potential...,Job RequirementsAssist in creating client online marketing campaignsConduct research on various industry niches to determine potential partnership opportunities and make decisions on which website...,NaN,0,1,0,NaN,NaN,NaN,NaN,Marketing,e7baf7aa-37db-426e-9884-c2476c14b743,2021-09-25T07:36:57Z,user

(3576, 20)
Test scores

  EVENT_LABEL EVENT_ID
0           0       10
1           0       15
2           0       16
3           0       19
4           0       21

0    3389
1     187
Name: EVENT_LABEL, dtype: int64
0    0.952531
1    0.047469
Name: EVENT_LABEL, dtype: float64
=========

Data download location /local/pringrov/git/fraud_dataset_benchmark/scripts/examples/tmp
vechicleloan
Train set:

,EVENT_ID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,current_pincode_id,date_of_birth,employment_type,disbursal_date,state_id,employee_code_id,mobileno_avl_flag,aadhar_flag,pan_flag,voterid_flag,driving_flag,passport_flag,perform_cns_score,perform_cns_score_description,pri_no_of_accts,pri_active_accts,pri_overdue_accts,pri_current_balance,pri_sanctioned_amount,pri_disbursed_amount,sec_no_of_accts,sec_active_accts,sec_overdue_accts,sec_current_balance,sec_sanctioned_amount,sec_disbursed_amount,primary_instal_amt,sec_instal_amt,new_accts_in_last_six_months,delinquent_accts_in_last_six_months,average_acct_age,credit_history_length,no_of_inquiries,EVENT_LABEL,ENTITY_ID,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE
8976,462711,33484,62644,55.23,67,22727,45,1511,16-06-1991,Salaried,24-08-2018,6,1201,1,1,0,0,0,0,743,C-Very Low Risk,9,5,0,160423,230489,194538,0,0,0,0,0,0,9149,0,4,0,0yrs 7mon,1yrs 4mon,1,0,d5e625fc-0347-4268-a013-b082c84dfdcb,2021-06-19T01:32:11Z,2022-06-01T20:30:04Z,user
76007,558674,66882,81187,84.37,2,23508,86,1708,15-09-1994,Salaried,05-10-2018,4,1060,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0,6b7dbbd0-09ca-49f7-9315-26a2f4a80e8e,2021-12-07T04:34:54Z,2022-06-01T20:30:04Z,user
77677,528251,59113,71757,84.87,48,21478,86,6322,01-01-1995,Self employed,22-09-2018,5,1189,1,1,0,0,0,0,738,C-Very Low Risk,3,3,0,45828,58582,58582,0,0,0,0,0,0,4240,0,3,0,0yrs 2mon,0yrs 4mon,0,1,f221054a-26fe-4569-91ad-c2e9ce99dac9,2022-01-10T05:37:53Z,2022-06-01T20:30:04Z,user
209438,633950,56059,71307,81.34,146,18317,86,2989,01-01-1971,Salaried,28-10-2018,14,2964,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,1,417d27f7-e5a8-41d4-b322-d0cfb224b214,2021-11-22T01:50:59Z,2022-06-01T20:30:04Z,user
143261,476747,56759,67100,85.69,136,17783,86,3793,03-12-1975,Self employed,30-08-2018,8,1295,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0,2eb56fbc-12e2-40bb-9fee-ed41ae8080a4,2022-01-09T12:13:52Z,2022-06-01T20:30:04Z,user

45
(186523, 45)
Test set:

,EVENT_ID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,current_pincode_id,date_of_birth,employment_type,disbursal_date,state_id,employee_code_id,mobileno_avl_flag,aadhar_flag,pan_flag,voterid_flag,driving_flag,passport_flag,perform_cns_score,perform_cns_score_description,pri_no_of_accts,pri_active_accts,pri_overdue_accts,pri_current_balance,pri_sanctioned_amount,pri_disbursed_amount,sec_no_of_accts,sec_active_accts,sec_overdue_accts,sec_current_balance,sec_sanctioned_amount,sec_disbursed_amount,primary_instal_amt,sec_instal_amt,new_accts_in_last_six_months,delinquent_accts_in_last_six_months,average_acct_age,credit_history_length,no_of_inquiries,ENTITY_ID,EVENT_TIMESTAMP,ENTITY_TYPE
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-1984,Salaried,03-08-2018,6,1998,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,fd95e22d-5708-4770-ad20-bfd5740edefd,2022-02-19T02:57:47Z,user
1,518279,54513,61900,89.66,67,22807,45,1501,08-09-1990,Self employed,19-09-2018,6,1998,1,1,0,0,0,0,825,A-Very Low Risk,2,0,0,0,0,0,0,0,0,0,0,0,1347,0,0,0,1yrs 9mon,2yrs 0mon,0,80355701-943b-4593-9e34-985ca425309c,2021-12-23T03:47:55Z,user
2,510278,43894,61900,71.89,67,22807,45,1501,04-10-1989,Salaried,16-09-2018,6,1998,1,1,0,0,0,0,17,Not Scored: Not Enough Info available on the customer,1,1,0,72879,74500,74500,0,0,0,0,0,0,0,0,0,0,0yrs 2mon,0yrs 2mon,0,8ee3fcc0-a9db-4914-bdc9-9f74e4be2f70,2022-06-02T19:30:28Z,user
3,510980,52603,61300,86.95,67,22807,45,1492,01-06-1968,Salaried,16-09-2018,6,1998,1,0,0,1,0,0,818,A-Very Low Risk,1,0,0,0,0,0,0,0,0,0,0,0,2608,0,0,0,1yrs 7mon,1yrs 7mon,0,bcfb88b1-0abb-472c-a3a0-4f3c22c2978e,2022-05-16T18:23:44Z,user
4,513916,57713,65750,89.28,67,22807,45,1440,01-06-1976,Self employed,18-09-2018,6,1998,1,1,0,0,0,0,300,M-Very High Risk,6,4,2,29069,1067200,1067200,0,0,0,0,0,0,47100,0,1,1,2yrs 6mon,5yrs 6mon,0,fe4c2a7c-5faf-40a9-abc5-a55feeb438e4,2021-09-08T14:15:47Z,user

(46631, 43)
Test scores

  EVENT_LABEL EVENT_ID
0           0   420825
1           0   518279
2           0   510278
3           0   510980
4           0   513916

0    36323
1    10308
Name: EVENT_LABEL, dtype: int64
0    0.783925
1    0.216075
Name: EVENT_LABEL, dtype: float64
=========

Data download location /local/pringrov/git/fraud_dataset_benchmark/scripts/examples/tmp
malurl
Train set:

,url,EVENT_LABEL,EVENT_ID,ENTITY_ID,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE,dummy_cat
167113,apolloduck.co.za/,benign,32e0c17b-926c-4822-b0a3-8a0d7773d7b5,8b80c870-9078-48fe-bba3-0987ea891e60,2021-06-26T06:55:21Z,2022-06-01T20:30:04Z,user,1f7754d1-62bb-4d6c-97c4-7350b52b72e1
387680,acronyms.thefreedictionary.com/WDOM,benign,7ca6ca44-3b7b-4e82-816c-f06471f92cf2,807671aa-eff6-4eea-ae0b-c0545eb989e5,2022-04-30T02:19:53Z,2022-06-01T20:30:04Z,user,0fbb9bf7-3792-47c3-adbb-a3cba3b349f1
528900,https://nepan.org.np/Alibaba/Alibaba.com/Login.htm,malignant,d48a487c-0dd0-4699-b1dd-bd834acccb06,a744aaa3-ad85-4719-ba8d-0c66a0f70398,2021-12-21T23:54:24Z,2022-06-01T20:30:04Z,user,e0f7c09e-f389-4461-9a79-6e3d6e9b6a88
251286,soundonsound.com/sos/aug06/articles/rogernichols_0806.htm?print=yes,benign,b8f81778-d760-4ef3-8cbf-1cc3cf44c16f,bd68edf4-7361-4c7f-a659-96af6db4ffff,2021-10-12T09:33:08Z,2022-06-01T20:30:04Z,user,da0da605-4ccc-4e42-9b3d-4ad9055020dd
433650,ottawakiosk.com/hill_cam.html,benign,54c63672-a77a-42a5-a277-efb2b6be0b39,59eacb19-7f69-4dfb-95b1-62c78bb66435,2022-02-05T00:43:43Z,2022-06-01T20:30:04Z,user,ce01fd75-62ff-4456-a184-9b05dd89b53d

8
(586072, 8)
Test set:

,url,EVENT_ID,ENTITY_ID,EVENT_TIMESTAMP,ENTITY_TYPE,dummy_cat
0,http://buzzfil.net/m/show-art/ils-etaient-loin-de-s-imaginer-que-le-hibou-allait-faire-ceci-quand-ils-filmaient-2.html,c9c034ab-0464-4384-8de7-1ce7b5a4a013,1f40b4eb-1105-4706-8db4-3dbf423da397,2021-07-14T15:37:38Z,user,29134085-93b1-4b4c-a743-a60a1b34e242
1,cyndislist.com/us/pa/counties,ab531064-0ffc-4ea5-8aa5-240a0711f6b3,afd82744-729e-4ca1-9537-d7d8d761c5dd,2021-08-03T07:56:18Z,user,369b38ad-8477-4be2-8996-30f9d77b71d6
2,https://docs.google.com/spreadsheet/viewform?formkey=dGg2Z1lCUHlSdjllTVNRUW50TFIzSkE6MQ,6a1c6dba-dae8-442c-902f-b494ff3caa9f,22a4f879-e8d2-41d4-830c-fc3ada367be5,2022-05-02T17:57:26Z,user,b308c120-1bcb-4400-a9e5-551b5bd152e2
3,articles.baltimoresun.com/1991-06-11/sports/1991162162_1_james-koehler-texas-rangers-terrell-lowery,b00ff9c1-e4fe-4d72-a0e2-75c7c35b019a,2dff477e-b4d7-487c-a731-c9a8c36dc656,2022-04-02T22:06:05Z,user,8358413a-7e9e-458b-9cf5-8fd6fb7027c9
4,kitsapsun.com/photos/2011/feb/25/177999/,bbe2e555-4278-4d98-9064-822684405afa,11eef313-a1c0-4cb3-b56b-07f205ab9b8d,2021-06-18T23:10:33Z,user,a452115c-ec14-4239-9b0c-03988ff50569

(65119, 6)
Test scores

  EVENT_LABEL                              EVENT_ID
0      benign  c9c034ab-0464-4384-8de7-1ce7b5a4a013
1      benign  ab531064-0ffc-4ea5-8aa5-240a0711f6b3
2   malignant  6a1c6dba-dae8-442c-902f-b494ff3caa9f
3      benign  b00ff9c1-e4fe-4d72-a0e2-75c7c35b019a
4      benign  bbe2e555-4278-4d98-9064-822684405afa

benign       42695
malignant    22424
Name: EVENT_LABEL, dtype: int64
benign       0.657612
malignant    0.342388
Name: EVENT_LABEL, dtype: float64
=========

Data download location /local/pringrov/git/fraud_dataset_benchmark/scripts/examples/tmp
ieee
Train set:

,transactionamt,productcd,card1,card2,card3,card5,card6,addr1,dist1,p_emaildomain,r_emaildomain,c1,c2,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,v62,v70,v76,v78,v82,v91,v127,v130,v139,v160,v165,v187,v203,v207,v209,v210,v221,v234,v257,v258,v261,v264,v266,v267,v271,v274,v277,v283,v285,v289,v291,v294,id_01,id_02,id_05,id_06,id_09,id_13,id_17,id_19,id_20,devicetype,deviceinfo,EVENT_TIMESTAMP,ENTITY_ID,ENTITY_TYPE,EVENT_ID,EVENT_LABEL,LABEL_TIMESTAMP
TransactionID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2987000.0,68.5,W,13926.0,NaN,150.0,142.0,credit,315.0,19.0,NaN,NaN,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,117.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-02T00:00:00Z,13926.0_315.0_-13.0,user,fb2a0d25-5920-488e-9776-d0f4c59f3e71,0,2022-06-01T20:30:04Z
2987001.0,29.0,W,2755.0,404.0,150.0,102.0,credit,325.0,NaN,gmail.com,NaN,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-02T00:00:01Z,2755.0_325.0_1.0,user,e5a65a09-124d-46c2-bbe9-74572d5abbb0,0,2022-06-01T20:30:04Z
2987002.0,59.0,W,4663.0,490.0,150.0,166.0,debit,330.0,287.0,outlook.com,NaN,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-02T00:01:09Z,4663.0_330.0_1.0,user,90814e3e-85d7-42cd-88f7-17848fe357a8,0,2022-06-01T20:30:04Z
2987003.0,50.0,W,18132.0,567.0,150.0,117.0,debit,476.0,NaN,yahoo.com,NaN,2.0,5.0,0.0,0.0,4.0,0.0,0.0,1.0,0.0,1.0,0.0,25.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1758.0,354.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,10.0,0.0,1.0,38.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-01-02T00:01:39Z,18132.0_476.0_-111.0,user,0440aca6-7fc7-46ee-b4e7-c2d3c29899b5,0,2022-06-01T20:30:04Z
2987004.0,50.0,H,4497.0,514.0,150.0,102.0,credit,420.0,NaN,gmail.com,NaN,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,169690.796875,5155.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,70787.0,NaN,NaN,NaN,NaN,166.0,542.0,144.0,mobile,SAMSUNG SM-G892A Build/NRD90M,2021-01-02T00:01:46Z,4497.0_420.0_1.0,user,939e5d47-c49f-434a-89a8-f0eadce2b890,0,2022-06-01T20:30:04Z

73
(561013, 73)
Test set:

,transactionamt,productcd,card1,card2,card3,card5,card6,addr1,dist1,p_emaildomain,r_emaildomain,c1,c2,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,v62,v70,v76,v78,v82,v91,v127,v130,v139,v160,v165,v187,v203,v207,v209,v210,v221,v234,v257,v258,v261,v264,v266,v267,v271,v274,v277,v283,v285,v289,v291,v294,id_01,id_02,id_05,id_06,id_09,id_13,id_17,id_19,id_20,devicetype,deviceinfo,EVENT_TIMESTAMP,ENTITY_ID,ENTITY_TYPE,EVENT_ID
TransactionID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
3548013.0,125.000000,S,15775.0,481.0,150.0,102.0,credit,330.0,NaN,NaN,yahoo.com,5.0,3.0,3.0,0.0,0.0,0.0,8.0,0.0,3.0,5.0,0.0,61.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,109411.000000,2301.000000,0.0,2401.0,66104.0,1.0,103183.0,877.0,1961.0,465.0,0.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,26.0,1.0,2.0,926.0,-10.0,1411.0,6.0,0.0,0.0,52.0,166.0,633.0,533.0,desktop,Windows,2021-06-21T23:11:15Z,15775.0_330.0_129.0,user,9fef65eb-782f-4f40-911a-efd8bf1691b8
3548014.0,125.000000,S,15775.0,481.0,150.0,102.0,credit,330.0,NaN,NaN,yahoo.com,5.0,3.0,3.0,0.0,0.0,0.0,8.0,0.0,3.0,5.0,0.0,61.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,109536.000000,2301.000000,0.0,2401.0,66229.0,1.0,103308.0,877.0,1961.0,465.0,0.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,26.0,1.0,2.0,927.0,-10.0,693.0,6.0,0.0,0.0,52.0,166.0,633.0,533.0,desktop,Windows,2021-06-21T23:11:29Z,15775.0_330.0_129.0,user,7cc5ebca-f46a-4356-91b3-37f7727bb935
3548015.0,125.000000,S,15775.0,481.0,150.0,102.0,credit,330.0,NaN,NaN,yahoo.com,5.0,3.0,3.0,0.0,0.0,0.0,8.0,0.0,3.0,5.0,0.0,61.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,109661.000000,2301.000000,0.0,2401.0,66354.0,1.0,103433.0,877.0,1961.0,465.0,0.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,26.0,1.0,2.0,928.0,-10.0,1116.0,6.0,0.0,0.0,52.0,166.0,633.0,533.0,desktop,Windows,2021-06-21T23:11:45Z,15775.0_330.0_129.0,user,583cea16-05e8-4c98-bd61-38a42974862e
3548016.0,125.000000,S,15775.0,481.0,150.0,102.0,credit,330.0,NaN,NaN,yahoo.com,5.0,3.0,3.0,0.0,0.0,0.0,8.0,0.0,3.0,5.0,0.0,61.0,5.0,0.0,0.0,NaN,NaN,NaN,NaN,109786.000000,2301.000000,0.0,2401.0,66479.0,1.0,103558.0,877.0,1961.0,465.0,0.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,1.0,26.0,1.0,2.0,929.0,-10.0,1589.0,6.0,0.0,0.0,52.0,166.0,633.0,533.0,desktop,Windows,2021-06-21T23:12:00Z,15775.0_330.0_129.0,user,45b24678-7ca3-4b72-9282-c7d387a26ffe
3548017.0,31.950001,W,9500.0,321.0,150.0,226.0,debit,204.0,74.0,NaN,NaN,3.0,3.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,6.0,3.0,1.0,1.0,1.0,2.0,1.0,1.0,27.950001,27.950001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-21T23:12:11Z,9500.0_204.0_150.0,user,af775915-53c6-45d8-bdf6-9525dbdf59a1

(29527, 71)
Test scores

               EVENT_LABEL                              EVENT_ID
TransactionID
3548013.0                0  9fef65eb-782f-4f40-911a-efd8bf1691b8
3548014.0                0  7cc5ebca-f46a-4356-91b3-37f7727bb935
3548015.0                0  583cea16-05e8-4c98-bd61-38a42974862e
3548016.0                0  45b24678-7ca3-4b72-9282-c7d387a26ffe
3548017.0                0  af775915-53c6-45d8-bdf6-9525dbdf59a1

0    28358
1     1169
Name: EVENT_LABEL, dtype: int64
0    0.965252
1    0.034748
Name: EVENT_LABEL, dtype: float64
=========

Data download location /local/pringrov/git/fraud_dataset_benchmark/scripts/examples/tmp
ccfraud
Train set:

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25,v26,v27,v28,amount,EVENT_LABEL,EVENT_ID,ENTITY_ID,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE
0,-1.3598071336738,-0.0727811733098497,2.53634673796914,1.37815522427443,-0.338320769942518,0.462387777762292,0.239598554061257,0.0986979012610507,0.363786969611213,0.0907941719789316,-0.551599533260813,-0.617800855762348,-0.991389847235408,-0.311169353699879,1.46817697209427,-0.470400525259478,0.207971241929242,0.0257905801985591,0.403992960255733,0.251412098239705,-0.018306777944153,0.277837575558899,-0.110473910188767,0.0669280749146731,0.128539358273528,-0.189114843888824,0.133558376740387,-0.0210530534538215,149.62,0,76087851-7cb2-44b5-ace9-8e1116e05200,13121cd5-48c3-4a7a-b976-5b9569895a1c,2021-09-01T00:00:00Z,2022-06-01T20:30:04Z,user
1,1.19185711131486,0.26615071205963,0.16648011335321,0.448154078460911,0.0600176492822243,-0.0823608088155687,-0.0788029833323113,0.0851016549148104,-0.255425128109186,-0.166974414004614,1.61272666105479,1.06523531137287,0.48909501589608,-0.143772296441519,0.635558093258208,0.463917041022171,-0.114804663102346,-0.183361270123994,-0.145783041325259,-0.0690831352230203,-0.225775248033138,-0.638671952771851,0.101288021253234,-0.339846475529127,0.167170404418143,0.125894532368176,-0.00898309914322813,0.0147241691924927,2.69,0,d8f45751-0b7e-45cc-aea0-bc96915eb1d8,72642a75-5a15-4bed-8789-1deed84565ed,2021-09-01T00:00:00Z,2022-06-01T20:30:04Z,user
2,-1.35835406159823,-1.34016307473609,1.77320934263119,0.379779593034328,-0.503198133318193,1.80049938079263,0.791460956450422,0.247675786588991,-1.51465432260583,0.207642865216696,0.624501459424895,0.066083685268831,0.717292731410831,-0.165945922763554,2.34586494901581,-2.89008319444231,1.10996937869599,-0.121359313195888,-2.26185709530414,0.524979725224404,0.247998153469754,0.771679401917229,0.909412262347719,-0.689280956490685,-0.327641833735251,-0.139096571514147,-0.0553527940384261,-0.0597518405929204,378.66,0,19cb7778-a91b-4219-8237-f04e3f89fe09,8b80c319-be00-4ad7-b2cc-afb64568e49f,2021-09-01T00:01:00Z,2022-06-01T20:30:04Z,user
3,-0.966271711572087,-0.185226008082898,1.79299333957872,-0.863291275036453,-0.0103088796030823,1.24720316752486,0.23760893977178,0.377435874652262,-1.38702406270197,-0.0549519224713749,-0.226487263835401,0.178228225877303,0.507756869957169,-0.28792374549456,-0.631418117709045,-1.0596472454325,-0.684092786345479,1.96577500349538,-1.2326219700892,-0.208037781160366,-0.108300452035545,0.00527359678253453,-0.190320518742841,-1.17557533186321,0.647376034602038,-0.221928844458407,0.0627228487293033,0.0614576285006353,123.5,0,23d0b59b-7a11-4c3c-90bb-dc4981f3f3d4,df33c6fb-d866-43fb-bed5-03e4859a7ff5,2021-09-01T00:01:00Z,2022-06-01T20:30:04Z,user
4,-1.15823309349523,0.877736754848451,1.548717846511,0.403033933955121,-0.407193377311653,0.0959214624684256,0.592940745385545,-0.270532677192282,0.817739308235294,0.753074431976354,-0.822842877946363,0.53819555014995,1.3458515932154,-1.11966983471731,0.175121130008994,-0.451449182813529,-0.237033239362776,-0.0381947870352842,0.803486924960175,0.408542360392758,-0.00943069713232919,0.79827849458971,-0.137458079619063,0.141266983824769,-0.206009587619756,0.502292224181569,0.219422229513348,0.215153147499206,69.99,0,61a53a5b-9666-4eb8-9b7a-f42457803ea8,c43e01a8-e544-4e24-9448-43e0e03c909a,2021-09-01T00:02:00Z,2022-06-01T20:30:04Z,user

35
(227845, 35)
Test set:

,v1,v2,v3,v4,v5,v6,v7,v8,v9,v10,v11,v12,v13,v14,v15,v16,v17,v18,v19,v20,v21,v22,v23,v24,v25,v26,v27,v28,amount,EVENT_ID,ENTITY_ID,EVENT_TIMESTAMP,ENTITY_TYPE
227845,1.91402682161454,-0.490067987909997,-0.326111312515118,0.604710739174721,-0.8501359998436,-0.736318677031096,-0.524057962475328,-0.0886141066361987,1.09112510472248,0.093484357816225,-0.892304625856107,0.0272205159068718,-0.243790209618721,0.0317740067189187,0.900623897113791,0.536032161644219,-0.648408094097169,0.183072340001028,-0.48632249422331,-0.13957876335222,0.210958428878652,0.639337879054097,0.147522551988298,0.0736542664022496,-0.318378246601246,0.350612262707235,-0.0238434747433154,-0.0371393315055126,50,be06bdf7-3dca-4610-844c-d93448cd69bb,cdff1507-76ab-4699-861b-c9f893415368,2021-12-10T20:48:00Z,user
227846,2.15269624649984,-0.036160786158066,-2.23181098049803,0.0917658435583919,0.537612206488446,-1.36810250972644,0.613326738349479,-0.455251954849699,0.29181359004335,0.253161344559488,-1.50188197076942,-0.870607641524177,-1.44173756499372,0.988756626201074,0.496349234837293,-0.0686989613348823,-0.454073497932566,-0.299095262736551,0.267443131415241,-0.275777914750361,0.0171533555339963,0.0632416225359206,-0.0345611249491173,-0.626866212626912,0.249213129413917,0.773930519516097,-0.137114784582898,-0.0906106088420727,14.95,c09adbdb-ea19-46e7-9721-c0ac06e8abf8,b5a7a9cb-d79a-481f-95b6-d566aac66159,2021-12-10T20:49:00Z,user
227847,-4.03479516717275,2.30507905571504,-1.46169292457709,-0.729887055238227,-1.5287503399573,-1.22567909778369,-0.893353679497868,1.62252199369554,1.29199841774415,-0.0409558359937061,-0.971425287697512,0.574743695630458,0.155656078919204,-0.729054997889385,0.477438947999659,1.06171851569252,0.93469475367536,0.403768792198479,-0.494929851777981,-0.0810925858921718,-0.392556502541116,-0.78759906251576,0.343467795972994,-0.0903313999840935,0.248286972151669,-0.238523845342424,0.26648354183946,-0.0622361634691654,7.7,e714d56d-791e-479a-a3d2-b061d55a63e3,d0aa26f7-7603-4bea-a928-d4fc611f6595,2021-12-10T20:49:00Z,user
227848,-1.66874106862583,1.16805471760364,0.249642461553748,-1.26849748925032,0.785922573014156,-0.663958562166729,0.859432973616895,0.0681106263347446,-0.144183044927318,0.0432880841287975,0.542013736060061,1.00202450469061,0.400759595743433,0.136412487776037,-1.28964902448879,0.276827961550432,-0.868491702025561,-0.366839507131127,-0.187391599008302,-0.0335233340620367,-0.247543775399679,-0.592536769878023,-0.286693549546811,-0.378855664973759,-0.0774289041638705,0.0676084004301294,-0.27896200360197,-0.0641926690992577,6.99,af4fcde9-08df-4b30-8766-77108a527cc0,c5c10161-ac26-4dda-9c80-3fb280adc5fd,2021-12-10T20:49:00Z,user
227849,-0.550678353341949,-0.429004102182237,-1.29189255347072,-0.414409226593379,-0.292228538671312,0.071842939235058,2.42606795091335,-0.212729758223082,0.412374372851086,-1.93996940549555,-1.81011838293809,-1.22351031687552,-1.32491464932768,-1.46239178995552,-0.31164055759838,0.506707760378257,0.739932584638577,0.892422017204659,0.195042529037103,0.791126747715284,0.00303193944814891,-0.645782978858753,0.877016475964068,-1.22852893747944,-0.0362812174160739,-0.110609895882901,-0.0983803135271981,0.0959849443846813,460.71,42558a9b-19e6-4790-81af-ef9099663e17,71356c21-5cee-480d-8d9a-8fb9428425e2,2021-12-10T20:50:00Z,user

(56962, 33)
Test scores

       EVENT_LABEL                              EVENT_ID
227845           0  be06bdf7-3dca-4610-844c-d93448cd69bb
227846           0  c09adbdb-ea19-46e7-9721-c0ac06e8abf8
227847           0  e714d56d-791e-479a-a3d2-b061d55a63e3
227848           0  af4fcde9-08df-4b30-8766-77108a527cc0
227849           0  42558a9b-19e6-4790-81af-ef9099663e17

0    56887
1       75
Name: EVENT_LABEL, dtype: int64
0    0.99817
1    0.00183
Name: EVENT_LABEL, dtype: float64
=========

Data download location /local/pringrov/git/fraud_dataset_benchmark/scripts/examples/tmp
fraudecom
Train set:

,EVENT_ID,purchase_value,ENTITY_ID,source,browser,age,ip_address,EVENT_LABEL,time_since_signup,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE
115086,309557,14,BBPACGBUVJUXF,Ads,Chrome,38,119.75.87.223,1,1,2021-01-01T00:00:44Z,2022-06-01T20:30:04Z,user
41990,124539,14,BBPACGBUVJUXF,Ads,Chrome,38,119.75.87.223,1,1,2021-01-01T00:00:45Z,2022-06-01T20:30:04Z,user
134836,161246,14,BBPACGBUVJUXF,Ads,Chrome,38,119.75.87.223,1,1,2021-01-01T00:00:46Z,2022-06-01T20:30:04Z,user
24572,356414,14,BBPACGBUVJUXF,Ads,Chrome,38,119.75.87.223,1,1,2021-01-01T00:00:47Z,2022-06-01T20:30:04Z,user
106160,338656,14,BBPACGBUVJUXF,Ads,Chrome,38,119.75.87.223,1,1,2021-01-01T00:00:48Z,2022-06-01T20:30:04Z,user

12
(120889, 12)
Test set:

,EVENT_ID,purchase_value,ENTITY_ID,source,browser,age,ip_address,time_since_signup,EVENT_TIMESTAMP,ENTITY_TYPE
69628,304435,50,EFASVBVKDGQKI,Ads,Chrome,40,202.165.191.211,35310,2021-08-30T15:18:56Z,user
120573,222177,30,LUAQDRQGTDVHQ,SEO,Chrome,39,2.82.213.23,52655,2021-08-30T15:20:03Z,user
105050,308836,35,ODWUMTCAPBLXP,Ads,FireFox,20,73.185.82.155,35083,2021-08-30T15:20:35Z,user
118037,202515,20,LTOEZIQLNHGAC,Ads,IE,37,108.236.13.248,4032,2021-08-30T15:27:14Z,user
6094,260389,46,GMTRBZCZVBKQC,Ads,Chrome,34,129.163.194.162,19237,2021-08-30T15:28:27Z,user

(30223, 10)
Test scores

       EVENT_LABEL EVENT_ID
69628            0   304435
120573           0   222177
105050           0   308836
118037           0   202515
6094             0   260389

0    28834
1     1389
Name: EVENT_LABEL, dtype: int64
0    0.894432
1    0.105568
Name: EVENT_LABEL, dtype: float64
=========

Data download location /local/pringrov/git/fraud_dataset_benchmark/scripts/examples/tmp
twitterbot
Train set:

,unnamed: 0,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,EVENT_ID,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,EVENT_LABEL,ENTITY_ID,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE
20963,20963,2013-05-27 21:22:15,True,False,"WHO is Kyle Tyrone Ferguson? Father, Husband, Friend, Nerd, Teacher, Black man... Into Superheroes, MTG, Deck building games, tv, movies, and other geekery.",32374,2395,2823,True,1463172686,en,"Mount Morris, MI",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1022468674169569280/7tpDfAwa_normal.jpg,blerdwords,11448,False,4.336,2640,human,77b3956c-071d-4f3f-8b38-a37c56f0583c,2021-07-12T08:10:58Z,2022-06-01T20:30:04Z,user
6331,6331,2009-09-14 18:58:36,False,False,"Comedian, writer, former TV news producer, drunk historian, Twitter Queen, asshole and owner of Dewey. @doinitpodcast host Bookings: smark@wmeagency.com @Cameo",68664,350789,1528,False,74231747,en,Los Angeles - Always a Texan,http://abs.twimg.com/images/themes/theme9/bg.gif,http://pbs.twimg.com/profile_images/772455794243571712/bGBBHx0N_normal.jpg,JennyJohnsonHi5,18732,True,4.694,3991,human,c27579b0-1d4a-42dd-89b1-231ab90d4631,2021-11-26T13:56:01Z,2022-06-01T20:30:04Z,user
17209,17209,2010-06-06 16:27:08,True,False,NaN,74,54,657,False,152688783,NaN,Abu Dhabi,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/968278541/For-Twitter_normal.png,AbnerJosh,161,False,0.043,3726,bot,f38537bd-0bdb-406a-8d39-bbd9c268a726,2021-07-12T04:20:13Z,2022-06-01T20:30:04Z,user
23964,23964,2010-06-22 21:56:09,False,False,Information and updates from southern Saskatchewan from the hardworking journalists and photographers who make up the Global Regina newsroom.,1517,55881,991,True,158502985,en,"Regina, SK Canada",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/722495430097903616/dKLfuc1-_normal.jpg,GlobalRegina,103379,True,27.865,3710,human,523c09f4-e933-447e-9499-e4e46a9353da,2022-02-16T00:41:51Z,2022-06-01T20:30:04Z,user
30569,30569,2009-03-10 02:26:45,False,False,Detritus,2616,1118405,657,False,23544268,no,unknown,http://abs.twimg.com/images/themes/theme11/bg.gif,http://pbs.twimg.com/profile_images/1281416121212493826/HVjvkjRz_normal.jpg,OfficialKat,4980,True,1.191,4180,human,72e1d264-49ea-4a3c-bc13-ebe8b4c8a46d,2022-01-17T03:07:25Z,2022-06-01T20:30:04Z,user

24
(29950, 24)
Test set:

,unnamed: 0,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,EVENT_ID,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,ENTITY_ID,EVENT_TIMESTAMP,ENTITY_TYPE
0,1,2016-11-09 05:01:30,False,False,"Photographing the American West since 1980. I specialize in location portraits & events, both indoors & outside, using natural light & portable studio lighting.",536,860,880,False,796216118331310080,en,Estados Unidos,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/802329632838037504/CQN6gP7k_normal.jpg,CJRubinPhoto,252,False,0.183,1379,160be638-1578-4102-add0-ed6958ad65f8,2022-04-14T16:08:55Z,user
1,9,2012-02-14 15:33:48,False,False,"Man Utd fan. mostly here for football. Takes photos. Ex care worker, does stuff with computers often sarcastic. 🐝🇬🇧🇪🇺",36384,2130,3363,True,492306486,en,United Kingdom,http://abs.twimg.com/images/themes/theme14/bg.gif,http://pbs.twimg.com/profile_images/1211318786512609281/e6UqYEa4_normal.jpg,GhamGraham,63376,False,20.391,3108,a8fed482-12d1-45e0-b81d-77ba58d2ba4b,2022-05-22T05:29:59Z,user
2,10,2011-12-09 14:11:56,False,False,"Stay hungry, Stay foolish.",127,32,0,False,432537664,en,in the clouds.,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/809682832645824512/WOJIsCmg_normal.jpg,jainabdulaziz,921,False,0.29,3175,ebfd048a-49e2-44da-acd0-1c71b5e53988,2021-08-12T01:05:35Z,user
3,14,2010-11-03 15:40:20,False,False,"Femminista, animalista, antiproibizionista... E altre -ista che ora non ricordo. Ora dirigo il sito de #LeIene 👊🏿",4071,252142,562,True,211550281,it,Italy,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1046488383684521988/KrnhpZyJ_normal.jpg,giuliainnocenzi,6029,True,1.686,3576,3e715d54-6e3e-41db-bde0-c723373678ab,2022-02-19T13:17:50Z,user
4,15,2012-08-20 11:58:04,False,False,Mi viene da vomitare. \n\n \nDove sono le mie Jordan?,81967,5281,581,True,769392715,it,Oblio,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1271034506041085953/xWUZXxMm_normal.jpg,RichiMasu,106263,False,36.391,2920,417100f6-01b4-46ac-9258-891041d8bd2a,2021-09-21T00:04:20Z,user

(7488, 22)
Test scores

  EVENT_LABEL            EVENT_ID
0       human  796216118331310080
1       human           492306486
2       human           432537664
3       human           211550281
4       human           769392715

human    4987
bot      2501
Name: EVENT_LABEL, dtype: int64
human    0.668648
bot      0.331352
Name: EVENT_LABEL, dtype: float64
=========

ipblock
Train set:

,ip,EVENT_LABEL,EVENT_ID,ENTITY_ID,EVENT_TIMESTAMP,LABEL_TIMESTAMP,ENTITY_TYPE,dummy_cat
8013,134.209.204.182,1,b3c7c632-9def-40e5-b7ed-864a463febf5,2a3827d7-cd44-4cbd-8818-d8dc1d344b79,2022-05-20T13:07:28Z,2022-06-01T20:30:04Z,user,bce2bdc7-b850-4df9-b173-9673dcb66afd
91600,13.137.192.202,0,797ecc5e-c837-4a94-9e7c-bf3fc1502d88,6658f0d3-35f9-4072-ad06-6d52981485f7,2022-02-08T13:17:59Z,2022-06-01T20:30:04Z,user,c0cdadd2-502c-4d62-adb8-27803beabc8b
118674,208.73.226.215,0,7eb37534-3335-4fe8-84a7-8837740ee1f3,1f5ec29e-b0d9-4629-96f1-ebebdcfafef9,2021-07-17T22:18:40Z,2022-06-01T20:30:04Z,user,3af42c24-4ce1-4b54-9b92-5fc2c04b0c7a
59259,145.17.229.241,0,34f20030-7f6d-46b1-b664-d7b478e8ee22,858b7007-0b24-4a49-9cc7-c28359bd9856,2022-04-24T16:05:54Z,2022-06-01T20:30:04Z,user,599ae48c-4d71-4496-a0b8-490ca09dd542
72056,92.48.190.42,0,49cc0626-af24-4518-8184-e60511373055,0ae3935a-6748-43bb-9efd-e257f27e800a,2021-09-11T00:32:11Z,2022-06-01T20:30:04Z,user,c037a904-78f7-41b9-9034-81ade4e1c363

8
(172000, 8)
Test set:

,ip,EVENT_ID,ENTITY_ID,EVENT_TIMESTAMP,ENTITY_TYPE,dummy_cat
0,1.11.194.81,e07d0fbd-b70a-441e-b143-0524dc997c09,60842bd5-895a-4daf-98f2-e8693f94557a,2021-12-19T05:23:31Z,user,d92c926b-ed85-493a-89ff-5023bd18ee90
1,1.116.41.121,6a9b9d36-b0b2-4b19-ab9b-d479112dc328,a24675a2-c1fe-425b-ae74-b64e70f43cc0,2022-01-30T19:31:28Z,user,bb66285c-7fec-48ef-824c-9ecbfb18741d
2,1.116.70.251,8c7d4154-be6f-491b-b82e-4e0d1ba1ff44,7bbc593b-37ae-4243-a44b-b223a314d661,2021-06-28T03:18:32Z,user,c2109873-6b8a-4bfd-94dc-a077cd1309f0
3,1.117.250.35,cd82a06d-1d0d-4d16-aac8-68d924b9c375,8af6b567-cbf3-4478-98b8-f110089b4892,2021-06-18T20:30:12Z,user,d776e4c0-3d88-4ef1-adbb-0db57c1b8284
4,1.13.24.49,f653888c-b4fe-4c94-ba53-f9f948382ce9,07d51666-8a5d-4926-88ba-9a489a737f71,2021-08-25T07:56:56Z,user,892cf4b8-d3ab-4735-b1e6-c4c41938684e

(43000, 6)
Test scores

   EVENT_LABEL                              EVENT_ID
0            1  e07d0fbd-b70a-441e-b143-0524dc997c09
1            1  6a9b9d36-b0b2-4b19-ab9b-d479112dc328
2            1  8c7d4154-be6f-491b-b82e-4e0d1ba1ff44
3            1  cd82a06d-1d0d-4d16-aac8-68d924b9c375
4            1  f653888c-b4fe-4c94-ba53-f9f948382ce9

0    40003
1     2997
Name: EVENT_LABEL, dtype: int64
0    0.930215
1    0.069785
Name: EVENT_LABEL, dtype: float64
=========

# End